//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////
[role="navigation"].main {
  @extend %sans;
  @include respond-to("full navigation") {
    // 801 and up 
    background-color: pink;
    clear: left;
    padding: 0;
    ul {
      display: block;
      float: left;
      @include horizontal-list;
      li {
        margin: 0;
        text-indent: 0;
        font-size: 1.15em;
        display: inline-block;
        &:before {
          content: "\20\00b7\20";
          // middot encoded http://css-tricks.com/snippets/html/glyphs/
          color: #999;
        }
        &:first-child:before {
          content: "\20";
        }
      }
    }
  }
  @include respond-to("narrow navigation") {
    // 240 to 800
    background-color: red;
    position: relative;
    float: none;
    clear: both;
    left: 0;
    margin: 0;
    padding-top: 10px;
    ul {
      display: none;
      &[aria-hidden="false"] {
        display: block;
      }
      list-style-type: none;
      background-color: white;
      line-height: 1.5em;
      float: none;
      font-size: 1.5em;
      padding: .25em 0 0 0;
      li {
        float: none;
        display: block;
        border-bottom: 1px #ccc solid;
        padding: 0;
        &:before {
          content: "";
        }
        &:first-child {
          border-top: 1px #ccc solid;
        }
        a {
          width: 100%;
          display: block;
          padding: .5em;
          &:hover {
            background-color: nth($black, 6);
          }
        }
      }
    }
  }
  @include respond-to("tablet") {
    // 525 to 801
    background-color: fuchsia;
    margin: 0;
    ul {
      border-top: 1px yellow solid;
      li {
        float: left;
        display: inline-block;
        border-bottom: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 0;
        width: 50%;
        &:first-child {
          border-top: none;
        }
      }
    }
  }
}