//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////
[role="navigation"].main {
  @extend %sans;
  @include respond-to("full navigation") {
    // 801 and up 
    clear: left;
    padding: 0;
    ul {
      display: block;
      float: left;
      @include horizontal-list;
      li {
        margin: 0;
        text-indent: 0;
        font-size: 1.15em;
        display: inline-block;
        &:before {
          content: "\20\00b7\20";
          // middot encoded http://css-tricks.com/snippets/html/glyphs/
          color: #999;
        }
        &:first-child:before {
          content: "\20";
        }
      }
    }
  }
  @include respond-to("narrow navigation") {
    // 240 to 800
    position: relative;
    float: none;
    clear: both;
    left: 0;
    margin: 0;
    padding-top: 20px;
    ul {
      &[aria-hidden="true"] {
        display: none;
      }
      &[aria-hidden="false"] {
        display: flex;
        flex-wrap: wrap;
      }
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      background-color: white;
      line-height: 1.5em;
      float: none;
      font-size: 1.5em;
      padding: 0 0 0 0;
      border-top: 1px #ccc solid;
      border-bottom: 1px #ccc solid;
      li {
        display: block;
        border: 1px #ccc solid;
        padding: 0;
        flex: 1 1 50%;
        min-width: 150px;
        a {
          width: 100%;
          display: block;
          padding: .5rem 1rem;
          &:hover {
            background-color: nth($black, 6);
          }
        }
      }
    }
  }
}