//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

[role="navigation"].main {
  //float: left;
  clear: left;
  margin: 0 0 0 .5em;
  padding: 0;
  @extend %sans; 
  ul.main {
    padding: 0;
    display: block;
    float: left;
    @include horizontal-list;
    li {
      margin: 0;
      text-indent: 0;
      font-size: 1.15em;
      display: inline-block;
      &:before {
        content: "\20\00b7\20"; // middot encoded http://css-tricks.com/snippets/html/glyphs/
        color: #999;
      }
      &:first-child:before {
        content: "\20";
      }
    }
  }
}

[role="navigation"].main { 
  @include respond-to("narrow navigation") {
    position: relative;
    float: none;
    clear: both;
    left: 0;
    margin: 0;
    ul.main {
      display: none;
      list-style-type: none;
      background-color: white;
      line-height: 1.5em;
      float: none;
      font-size: 1.5em;
      padding: .25em 0 0 0;
      li {
        float: none;
        display: block;
        border-bottom: 1px #ccc solid;
        padding: 0;
        &:before {
          content: "";
        }
        &:first-child {
          border-top: 1px #ccc solid;
        }
        a {
          width: 100%;
          display: block;
          padding: .5em;
          &:hover {
            background-color: nth($black, 6);
          }
        }
      }
    }
  }
}

[role="navigation"].main { 
  @include respond-to("tablet") {
    margin: 0;
    ul.main {
      font-size: 1.5em;
      margin-top: 2em;
      padding: 0;
      border-top: 1px #ccc solid;
      li {
        float: left;
        display: inline-block;
        border-bottom: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 0;
        width: 50%;
        &:before {
          content: "";
        }
        &:first-child {
          border-top: 0px #ccc solid;
        }
      }
    }
  }
}

//  Moved from layout/_mainnav.scss



//// Primary mixin
//@mixin navs {
//  &.mc  { @include nav($blue_mc);@include button($blue_mc); }
//  &.imr   { @include nav($orange_imr);@include button($orange_imr); }
//  &.mcp { @include nav($green_mcp);@include button($green_mcp); }
//  &.tne { @include nav($aqua_tne);@include button($aqua_tne); }
//  &.ac { @include nav($red_ac);@include button($red_ac); }
//}

//// Basic - dumb media query
//@mixin resize-nav {
//  width:100%;
//  height:auto;
//  max-width:100%;
//  ul{
//    &.desktop {
//      display:none;
//    }
//    &.mobile{
//      display:block;
//    }
//  }
//}

//@mixin thegradient($bgcolor) {
//  background: $bgcolor; /* Old browsers
//  background: -moz-linear-gradient(left,  $bgcolor 0%, darken($bgcolor,4%) 100%); /* FF3.6+
//  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$bgcolor), color-stop(100%,darken($bgcolor,4%))); /* Chrome,Safari4+
//  background: -webkit-linear-gradient(left,  $bgcolor 0%,darken($bgcolor,4%) 100%); /* Chrome10+,Safari5.1+
//  background: -o-linear-gradient(left,  $bgcolor 0%,darken($bgcolor,4%) 100%); /* Opera 11.10+
//  background: -ms-linear-gradient(left,  $bgcolor 0%,darken($bgcolor,4%) 100%); /* IE10+
//  background: linear-gradient(to right,  $bgcolor 0%,darken($bgcolor,4%) 100%); /* W3C
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bgcolor', endColorstr='darken($bgcolor,4%)',GradientType=1 ); /* IE6-9
//}

// Nav mixin
//@mixin button($bgcolor){
//  input[type="submit"] {
//    text-transform:uppercase;
//    font-family:$sans;
//    font-size:.9em;
//    background:$bgcolor;
//    color:white;
//    border:none;
//    line-height:2em;
//    @include transition(all 0.2s ease-in-out);
//    @include border-radius($button-radius);
//    &:hover {
//      @include transition(all 0.2s ease-in-out);
//      background:darken($bgcolor,10%);
//    }
//    &.active {
//      background:$bgcolor;
//    }
//  }
//  }
//
//@mixin nav($bgcolor){
//  a {
//    font-family:$sans;
//    font-size:.9em;
//    color:$bgcolor;
//    border-bottom:1px solid lighten($bgcolor,40%);
//    &:hover {
//      color:darken($bgcolor,20%);
//      border-bottom:1px solid darken($bgcolor,50%);
//      text-decoration:none;
//    }
//    &.active {
//      //border-bottom:2px solid $bgcolor;
//      color:$bgcolor;
//      background:#ebebeb;
//    }
//    &.viewer {
//      color:$bgcolor;
//      line-height:1em;
//      padding-bottom:.25em;
//      margin:0 0 1em 0;
//      text-transform:uppercase;
//      text-align:center;
//      font-weight:600;
//      display:inline-block;
//      //border-bottom:2px solid $bgcolor;
//      &:hover {
//        color:darken($bgcolor,20%);
//      }
//    }
//  }
//
//  span.author {
//    color:$bgcolor;
//    font-size:1em;
//  }
//  .mediacommons-network {
//    position: fixed;
//    z-index: 100;
//    top: 0;
//    left: 0;
//    width:100%;
//    @include thegradient($bgcolor);
//    border-right:1px solid darken($bgcolor,10%);
//    color:white;
//    ul {
//      position:relative;
//      padding:0;
//      text-align:left;
//      width:70%;
//      max-width:1200px;
//      margin: 0 auto;
//      &.mobile {
//        display:none;
//      }
//      li {
//        display:inline-block;
//        list-style-type: none;
//        margin:0 0 0 -4px;
//        //float:left;
//        text-indent:0;
//        &.login {
//          position:absolute;
//          right:0;
//          a {
//            padding:0 1em;
//          }
//        }
//        a {
//          color:lighten($bgcolor,20%);
//          font-weight:bold;
//          display:block;
//          line-height:3em;
//          padding:0 1.7em;
//          margin:0;
//          text-transform:uppercase;
//          border:none;
//          &.active {
//            background:lighten($bgcolor,5%);
//            color:white;
//          }
//          &:hover, &:focus {
//            background:lighten($bgcolor,3%);
//            color:white;
//          }
//        }
//      }
//    }
//
//    @media only screen and (max-width: 1300px) {
//      @include resize-nav;
//    }
//  }
//}