/*   */
/* line 39, ../sass/projects.scss */
body.mc a:link,
body.mc a:visited {
  color: #196195;
}
/* line 43, ../sass/projects.scss */
body.mc a[href]:hover,
body.mc a[href]:focus {
  color: #124569;
  text-decoration: underline;
}
/* line 48, ../sass/projects.scss */
body.mc a[href]:active {
  color: #0a283e;
}
/* line 57, ../sass/projects.scss */
body.mc [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 61, ../sass/projects.scss */
body.mc [role="complementary"] {
  background-color: #f4eee7;
}
/* line 63, ../sass/projects.scss */
body.mc [role="complementary"] header {
  background-color: #e4d7c5;
}

/*   */
/*   */
/* line 39, ../sass/projects.scss */
body.fg a:link,
body.fg a:visited {
  color: goldenrod;
}
/* line 43, ../sass/projects.scss */
body.fg a[href]:hover,
body.fg a[href]:focus {
  color: #ae8319;
  text-decoration: underline;
}
/* line 48, ../sass/projects.scss */
body.fg a[href]:active {
  color: #816213;
}
/* line 57, ../sass/projects.scss */
body.fg [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 61, ../sass/projects.scss */
body.fg [role="complementary"] {
  background-color: #eaedfb;
}
/* line 63, ../sass/projects.scss */
body.fg [role="complementary"] header {
  background-color: #c7cef5;
}

/*   */
/*   */
/* line 39, ../sass/projects.scss */
body.tne a:link,
body.tne a:visited {
  color: #1db7b7;
}
/* line 43, ../sass/projects.scss */
body.tne a[href]:hover,
body.tne a[href]:focus {
  color: #168b8b;
  text-decoration: underline;
}
/* line 48, ../sass/projects.scss */
body.tne a[href]:active {
  color: #0f5f5f;
}
/* line 57, ../sass/projects.scss */
body.tne [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 61, ../sass/projects.scss */
body.tne [role="complementary"] {
  background-color: #f8efe9;
}
/* line 63, ../sass/projects.scss */
body.tne [role="complementary"] header {
  background-color: #edd8c6;
}

/*   */
/*   */
/* line 39, ../sass/projects.scss */
body.imr a:link,
body.imr a:visited {
  color: #e25025;
}
/* line 43, ../sass/projects.scss */
body.imr a[href]:hover,
body.imr a[href]:focus {
  color: #bb3e19;
  text-decoration: underline;
}
/* line 48, ../sass/projects.scss */
body.imr a[href]:active {
  color: #8e2f13;
}
/* line 57, ../sass/projects.scss */
body.imr [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 61, ../sass/projects.scss */
body.imr [role="complementary"] {
  background-color: #ebfcf2;
}
/* line 63, ../sass/projects.scss */
body.imr [role="complementary"] header {
  background-color: #c8f7dc;
}

/*   */
/*   */
/* line 39, ../sass/projects.scss */
body.int a:link,
body.int a:visited {
  color: #782a71;
}
/* line 43, ../sass/projects.scss */
body.int a[href]:hover,
body.int a[href]:focus {
  color: #521d4d;
  text-decoration: underline;
}
/* line 48, ../sass/projects.scss */
body.int a[href]:active {
  color: #2c102a;
}
/* line 57, ../sass/projects.scss */
body.int [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 61, ../sass/projects.scss */
body.int [role="complementary"] {
  background-color: #eff0e8;
}
/* line 63, ../sass/projects.scss */
body.int [role="complementary"] header {
  background-color: #d9ddc9;
}

/*   */
/*   */
/* line 39, ../sass/projects.scss */
body.alt a:link,
body.alt a:visited {
  color: #be1e2d;
}
/* line 43, ../sass/projects.scss */
body.alt a[href]:hover,
body.alt a[href]:focus {
  color: #921723;
  text-decoration: underline;
}
/* line 48, ../sass/projects.scss */
body.alt a[href]:active {
  color: #661018;
}
/* line 57, ../sass/projects.scss */
body.alt [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 61, ../sass/projects.scss */
body.alt [role="complementary"] {
  background-color: #ebf8e9;
}
/* line 63, ../sass/projects.scss */
body.alt [role="complementary"] header {
  background-color: #cceec6;
}

/*   */
/* line 72, ../sass/projects.scss */
body.front #content {
  width: auto;
  float: none;
}
/* line 77, ../sass/projects.scss */
body.front .hubhead .field-name-title h1.hub-title {
  font-size: 31px;
  padding-top: 0;
  color: #232323;
}
/* line 81, ../sass/projects.scss */
body.front .hubhead .field-name-title h1.hub-title a {
  color: black;
}
@media (min-width: 52.5625em) {
  /* line 87, ../sass/projects.scss */
  body.front .hubhead {
    float: left;
    width: 32%;
  }
}
/* line 97, ../sass/projects.scss */
body.front .view-mode-toc_spoke, body.front .node-spoke.view-mode-teaser {
  border-bottom: 1px solid #c8c8c8;
  border-bottom: none;
  padding: 0 0 .5em;
}
/* line 102, ../sass/projects.scss */
body.front .daterange {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 106, ../sass/projects.scss */
body.front .caption {
  font-size: .7em;
}
/* line 109, ../sass/projects.scss */
body.front .field-name-post-date, body.front .field-name-author {
  margin-left: 0;
  display: block;
  float: left;
}
/* line 114, ../sass/projects.scss */
body.front .thumb {
  min-width: 100px;
  background-color: black;
}
/* line 118, ../sass/projects.scss */
body.front .field-name-field-body {
  margin-bottom: 1rem;
}
@media (min-width: 52.5625em) {
  /* line 122, ../sass/projects.scss */
  body.front .field-name-field-spokes {
    float: right;
    width: 66%;
    border-left: 1px solid black;
    padding-left: 22px;
  }
}
/* line 157, ../sass/projects.scss */
body.front .timerangeheader {
  padding: 4px;
  background-color: #0C304A;
  background-color: #333;
  font-size: .8rem;
  color: #fff;
  margin-bottom: 1rem;
}
@media (min-width: 52.5625em) {
  /* line 157, ../sass/projects.scss */
  body.front .timerangeheader {
    float: right;
    width: 66%;
    padding: 2px;
    padding-left: .5rem;
  }
}

/* line 174, ../sass/projects.scss */
body .node-hub.view-mode-teaser {
  border-bottom: 1px solid gray;
  padding: 1em 0;
}
/* line 177, ../sass/projects.scss */
body .node-hub.view-mode-teaser:first-child {
  padding: 0 0 1em;
}
/* line 180, ../sass/projects.scss */
body .node-hub.view-mode-teaser:last-child {
  border: none;
}
