/*   */
/* line 30, ../sass/projects.scss */
body.mc a:link,
body.mc a:visited {
  color: #196195;
}
/* line 34, ../sass/projects.scss */
body.mc a[href]:hover,
body.mc a[href]:focus {
  color: #124569;
  text-decoration: underline;
}
/* line 39, ../sass/projects.scss */
body.mc a[href]:active {
  color: #0a283e;
}
/* line 48, ../sass/projects.scss */
body.mc [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 52, ../sass/projects.scss */
body.mc [role="complementary"] {
  background-color: #f4eee7;
}
/* line 54, ../sass/projects.scss */
body.mc [role="complementary"] header {
  background-color: #e5d7c6;
}

/*   */
/*   */
/* line 30, ../sass/projects.scss */
body.tne a:link,
body.tne a:visited {
  color: #1db7b7;
}
/* line 34, ../sass/projects.scss */
body.tne a[href]:hover,
body.tne a[href]:focus {
  color: #168b8b;
  text-decoration: underline;
}
/* line 39, ../sass/projects.scss */
body.tne a[href]:active {
  color: #0f5f5f;
}
/* line 48, ../sass/projects.scss */
body.tne [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 52, ../sass/projects.scss */
body.tne [role="complementary"] {
  background-color: #f8f0e9;
}
/* line 54, ../sass/projects.scss */
body.tne [role="complementary"] header {
  background-color: #edd8c7;
}

/*   */
/*   */
/* line 30, ../sass/projects.scss */
body.imr a:link,
body.imr a:visited {
  color: #e25025;
}
/* line 34, ../sass/projects.scss */
body.imr a[href]:hover,
body.imr a[href]:focus {
  color: #bb3e19;
  text-decoration: underline;
}
/* line 39, ../sass/projects.scss */
body.imr a[href]:active {
  color: #8e2f13;
}
/* line 48, ../sass/projects.scss */
body.imr [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 52, ../sass/projects.scss */
body.imr [role="complementary"] {
  background-color: #ecfdf3;
}
/* line 54, ../sass/projects.scss */
body.imr [role="complementary"] header {
  background-color: #c9f8dc;
}

/*   */
/*   */
/* line 30, ../sass/projects.scss */
body.int a:link,
body.int a:visited {
  color: #782A71;
}
/* line 34, ../sass/projects.scss */
body.int a[href]:hover,
body.int a[href]:focus {
  color: #521d4d;
  text-decoration: underline;
}
/* line 39, ../sass/projects.scss */
body.int a[href]:active {
  color: #2c102a;
}
/* line 48, ../sass/projects.scss */
body.int [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 52, ../sass/projects.scss */
body.int [role="complementary"] {
  background-color: #eff1e8;
}
/* line 54, ../sass/projects.scss */
body.int [role="complementary"] header {
  background-color: #d9ddca;
}

/*   */
/*   */
/* line 30, ../sass/projects.scss */
body.alt a:link,
body.alt a:visited {
  color: #be1e2d;
}
/* line 34, ../sass/projects.scss */
body.alt a[href]:hover,
body.alt a[href]:focus {
  color: #921723;
  text-decoration: underline;
}
/* line 39, ../sass/projects.scss */
body.alt a[href]:active {
  color: #661018;
}
/* line 48, ../sass/projects.scss */
body.alt [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 52, ../sass/projects.scss */
body.alt [role="complementary"] {
  background-color: #ebf8e9;
}
/* line 54, ../sass/projects.scss */
body.alt [role="complementary"] header {
  background-color: #cdefc7;
}

/*   */
/* line 63, ../sass/projects.scss */
body.imr.front #content {
  width: auto;
  float: none;
}
/* line 67, ../sass/projects.scss */
body.imr.front .hubhead {
  float: left;
  width: 32%;
}
/* line 70, ../sass/projects.scss */
body.imr.front .hubhead .field-name-title h1.hub-title {
  font-size: 31px;
  padding-top: 0;
  color: #232323;
}
/* line 74, ../sass/projects.scss */
body.imr.front .hubhead .field-name-title h1.hub-title a {
  color: black;
}
/* line 83, ../sass/projects.scss */
body.imr.front .view-mode-toc_spoke, body.imr.front .node-spoke.view-mode-teaser {
  border-bottom: 1px solid #c8c8c8;
  border-bottom: none;
  padding: 0 0 .5em;
}
/* line 88, ../sass/projects.scss */
body.imr.front .daterange {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 92, ../sass/projects.scss */
body.imr.front .caption {
  font-size: .7em;
}
/* line 96, ../sass/projects.scss */
body.imr.front .field-name-post-date, body.imr.front .field-name-author {
  margin-left: 0;
  display: block;
  float: left;
}
/* line 101, ../sass/projects.scss */
body.imr.front .thumb {
  min-width: 100px;
  background-color: black;
}
/* line 105, ../sass/projects.scss */
body.imr.front .field-name-field-body {
  font-size: 0.75rem;
}
/* line 108, ../sass/projects.scss */
body.imr.front .field-name-field-spokes {
  float: right;
  width: 60%;
  width: 66%;
  border-left: 1px solid black;
  padding-left: 22px;
}
/* line 141, ../sass/projects.scss */
body.imr.front .timerangeheader {
  float: right;
  width: 66%;
  background-color: #0C304A;
  background-color: #333;
  font-size: .8rem;
  color: #fff;
  padding-left: .5rem;
  margin-bottom: 1rem;
}

/* line 154, ../sass/projects.scss */
body.imr .node-hub.view-mode-teaser {
  border-bottom: 1px solid gray;
  padding: 1em 0;
}
