/* line 41, ../sass/projects.scss */
.node-mc {
  border-top: 4px solid #196195;
}
/* line 43, ../sass/projects.scss */
.node-mc .field-name-field-project {
  background-color: #144d77;
}
/* line 47, ../sass/projects.scss */
.node-mc.node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-mc.svg?1531239544');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 59, ../sass/projects.scss */
.mc .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-mc.svg?1531239544');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 70, ../sass/projects.scss */
body.mc .featured-more {
  border-top: 2px solid #196195;
}
/* line 72, ../sass/projects.scss */
body.mc .featured-more .blockheader div {
  color: white;
  background-color: #196195;
  display: inline-block;
  padding: 0 6px;
  min-height: 1.4rem;
}
/* line 81, ../sass/projects.scss */
body.mc .view-list-of-all-hubs .view-filters {
  text-align: right;
  box-shadow: 0px 2px 2px #ccc;
}
/* line 85, ../sass/projects.scss */
body.mc .view-list-of-all-hubs .view-filters .views-exposed-widgets {
  margin: 0;
  padding-right: 10px;
  padding-top: 7px;
  border: none;
  border-bottom: 4px solid #196195;
}
/* line 93, ../sass/projects.scss */
body.mc .view-list-of-all-hubs .node-hub.node-teaser {
  border-bottom: 4px solid #196195;
}
/* line 95, ../sass/projects.scss */
body.mc .view-list-of-all-hubs .node-hub.node-teaser:last-child {
  border-bottom: none;
}
/* line 102, ../sass/projects.scss */
body.mc a:link,
body.mc a:visited {
  color: #196195;
}
/* line 106, ../sass/projects.scss */
body.mc a:hover,
body.mc a:focus {
  color: #124569;
  text-decoration: underline;
}
/* line 111, ../sass/projects.scss */
body.mc a:active {
  color: #0a283e;
}
/* line 115, ../sass/projects.scss */
body.mc [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 119, ../sass/projects.scss */
body.mc [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 122, ../sass/projects.scss */
body.mc nav.global {
  box-shadow: 0px 3px #3797dd;
  border-bottom: 3px solid #196195;
}
/* line 126, ../sass/projects.scss */
body.mc footer#footer {
  border-top: 3px solid #207bbc;
  box-shadow: 0px -3px #248cd7;
}
/* line 130, ../sass/projects.scss */
body.mc .comments#comments {
  border-color: #207bbc;
}
/* line 134, ../sass/projects.scss */
body.mc [role="complementary"] .block {
  background-color: #f4ebe7;
}
/* line 136, ../sass/projects.scss */
body.mc [role="complementary"] .block.twitter-block {
  border-radius: 4px;
  background: #292f33 url('../images/ui/ring.svg?1531239544') no-repeat center 75px;
  min-height: 600px;
  height: 600px;
}
/* line 143, ../sass/projects.scss */
body.mc [role="complementary"] header {
  background-color: #e4d1c5;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]:-moz-placeholder,
body.mc input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]::-moz-placeholder,
body.mc input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]:-ms-input-placeholder,
body.mc input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]::-webkit-input-placeholder,
body.mc input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 41, ../sass/projects.scss */
.node-fieldguide {
  border-top: 4px solid #8b6800;
}
/* line 43, ../sass/projects.scss */
.node-fieldguide .field-name-field-project {
  background-color: #6f5300;
}
/* line 47, ../sass/projects.scss */
.node-fieldguide.node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-fieldguide.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 59, ../sass/projects.scss */
.fieldguide .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-fieldguide.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 70, ../sass/projects.scss */
body.fieldguide .featured-more {
  border-top: 2px solid #8b6800;
}
/* line 72, ../sass/projects.scss */
body.fieldguide .featured-more .blockheader div {
  color: white;
  background-color: #8b6800;
  display: inline-block;
  padding: 0 6px;
  min-height: 1.4rem;
}
/* line 81, ../sass/projects.scss */
body.fieldguide .view-list-of-all-hubs .view-filters {
  text-align: right;
  box-shadow: 0px 2px 2px #ccc;
}
/* line 85, ../sass/projects.scss */
body.fieldguide .view-list-of-all-hubs .view-filters .views-exposed-widgets {
  margin: 0;
  padding-right: 10px;
  padding-top: 7px;
  border: none;
  border-bottom: 4px solid #8b6800;
}
/* line 93, ../sass/projects.scss */
body.fieldguide .view-list-of-all-hubs .node-hub.node-teaser {
  border-bottom: 4px solid #8b6800;
}
/* line 95, ../sass/projects.scss */
body.fieldguide .view-list-of-all-hubs .node-hub.node-teaser:last-child {
  border-bottom: none;
}
/* line 102, ../sass/projects.scss */
body.fieldguide a:link,
body.fieldguide a:visited {
  color: #8b6800;
}
/* line 106, ../sass/projects.scss */
body.fieldguide a:hover,
body.fieldguide a:focus {
  color: #584200;
  text-decoration: underline;
}
/* line 111, ../sass/projects.scss */
body.fieldguide a:active {
  color: #251c00;
}
/* line 115, ../sass/projects.scss */
body.fieldguide [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 119, ../sass/projects.scss */
body.fieldguide [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 122, ../sass/projects.scss */
body.fieldguide nav.global {
  box-shadow: 0px 3px #f1b400;
  border-bottom: 3px solid #8b6800;
}
/* line 126, ../sass/projects.scss */
body.fieldguide footer#footer {
  border-top: 3px solid #b98a00;
  box-shadow: 0px -3px #d7a100;
}
/* line 130, ../sass/projects.scss */
body.fieldguide .comments#comments {
  border-color: #b98a00;
}
/* line 134, ../sass/projects.scss */
body.fieldguide [role="complementary"] .block {
  background-color: #e2e9f2;
}
/* line 136, ../sass/projects.scss */
body.fieldguide [role="complementary"] .block.twitter-block {
  border-radius: 4px;
  background: #292f33 url('../images/ui/ring.svg?1531239544') no-repeat center 75px;
  min-height: 600px;
  height: 600px;
}
/* line 143, ../sass/projects.scss */
body.fieldguide [role="complementary"] header {
  background-color: #bfcee2;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]:-moz-placeholder,
body.fieldguide input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]::-moz-placeholder,
body.fieldguide input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]:-ms-input-placeholder,
body.fieldguide input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]::-webkit-input-placeholder,
body.fieldguide input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 41, ../sass/projects.scss */
.node-tne {
  border-top: 4px solid #1db7b7;
}
/* line 43, ../sass/projects.scss */
.node-tne .field-name-field-project {
  background-color: #179292;
}
/* line 47, ../sass/projects.scss */
.node-tne.node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-tne.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 59, ../sass/projects.scss */
.tne .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-tne.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 70, ../sass/projects.scss */
body.tne .featured-more {
  border-top: 2px solid #1db7b7;
}
/* line 72, ../sass/projects.scss */
body.tne .featured-more .blockheader div {
  color: white;
  background-color: #1db7b7;
  display: inline-block;
  padding: 0 6px;
  min-height: 1.4rem;
}
/* line 81, ../sass/projects.scss */
body.tne .view-list-of-all-hubs .view-filters {
  text-align: right;
  box-shadow: 0px 2px 2px #ccc;
}
/* line 85, ../sass/projects.scss */
body.tne .view-list-of-all-hubs .view-filters .views-exposed-widgets {
  margin: 0;
  padding-right: 10px;
  padding-top: 7px;
  border: none;
  border-bottom: 4px solid #1db7b7;
}
/* line 93, ../sass/projects.scss */
body.tne .view-list-of-all-hubs .node-hub.node-teaser {
  border-bottom: 4px solid #1db7b7;
}
/* line 95, ../sass/projects.scss */
body.tne .view-list-of-all-hubs .node-hub.node-teaser:last-child {
  border-bottom: none;
}
/* line 102, ../sass/projects.scss */
body.tne a:link,
body.tne a:visited {
  color: #1db7b7;
}
/* line 106, ../sass/projects.scss */
body.tne a:hover,
body.tne a:focus {
  color: #168b8b;
  text-decoration: underline;
}
/* line 111, ../sass/projects.scss */
body.tne a:active {
  color: #0f5f5f;
}
/* line 115, ../sass/projects.scss */
body.tne [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 119, ../sass/projects.scss */
body.tne [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 122, ../sass/projects.scss */
body.tne nav.global {
  box-shadow: 0px 3px #56e4e4;
  border-bottom: 3px solid #1db7b7;
}
/* line 126, ../sass/projects.scss */
body.tne footer#footer {
  border-top: 3px solid #25dddd;
  box-shadow: 0px -3px #40e1e1;
}
/* line 130, ../sass/projects.scss */
body.tne .comments#comments {
  border-color: #25dddd;
}
/* line 134, ../sass/projects.scss */
body.tne [role="complementary"] .block {
  background-color: #f8ebe9;
}
/* line 136, ../sass/projects.scss */
body.tne [role="complementary"] .block.twitter-block {
  border-radius: 4px;
  background: #292f33 url('../images/ui/ring.svg?1531239544') no-repeat center 75px;
  min-height: 600px;
  height: 600px;
}
/* line 143, ../sass/projects.scss */
body.tne [role="complementary"] header {
  background-color: #edcdc6;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]:-moz-placeholder,
body.tne input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]::-moz-placeholder,
body.tne input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]:-ms-input-placeholder,
body.tne input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]::-webkit-input-placeholder,
body.tne input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 41, ../sass/projects.scss */
.node-imr {
  border-top: 4px solid #b9480f;
}
/* line 43, ../sass/projects.scss */
.node-imr .field-name-field-project {
  background-color: #94390c;
}
/* line 47, ../sass/projects.scss */
.node-imr.node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-imr.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 59, ../sass/projects.scss */
.imr .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-imr.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 70, ../sass/projects.scss */
body.imr .featured-more {
  border-top: 2px solid #b9480f;
}
/* line 72, ../sass/projects.scss */
body.imr .featured-more .blockheader div {
  color: white;
  background-color: #b9480f;
  display: inline-block;
  padding: 0 6px;
  min-height: 1.4rem;
}
/* line 81, ../sass/projects.scss */
body.imr .view-list-of-all-hubs .view-filters {
  text-align: right;
  box-shadow: 0px 2px 2px #ccc;
}
/* line 85, ../sass/projects.scss */
body.imr .view-list-of-all-hubs .view-filters .views-exposed-widgets {
  margin: 0;
  padding-right: 10px;
  padding-top: 7px;
  border: none;
  border-bottom: 4px solid #b9480f;
}
/* line 93, ../sass/projects.scss */
body.imr .view-list-of-all-hubs .node-hub.node-teaser {
  border-bottom: 4px solid #b9480f;
}
/* line 95, ../sass/projects.scss */
body.imr .view-list-of-all-hubs .node-hub.node-teaser:last-child {
  border-bottom: none;
}
/* line 102, ../sass/projects.scss */
body.imr a:link,
body.imr a:visited {
  color: #b9480f;
}
/* line 106, ../sass/projects.scss */
body.imr a:hover,
body.imr a:focus {
  color: #8a360b;
  text-decoration: underline;
}
/* line 111, ../sass/projects.scss */
body.imr a:active {
  color: #5b2307;
}
/* line 115, ../sass/projects.scss */
body.imr [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 119, ../sass/projects.scss */
body.imr [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 122, ../sass/projects.scss */
body.imr nav.global {
  box-shadow: 0px 3px #ef7a3f;
  border-bottom: 3px solid #b9480f;
}
/* line 126, ../sass/projects.scss */
body.imr footer#footer {
  border-top: 3px solid #e35912;
  box-shadow: 0px -3px #ed6a27;
}
/* line 130, ../sass/projects.scss */
body.imr .comments#comments {
  border-color: #e35912;
}
/* line 134, ../sass/projects.scss */
body.imr [role="complementary"] .block {
  background-color: #e7f8e7;
}
/* line 136, ../sass/projects.scss */
body.imr [role="complementary"] .block.twitter-block {
  border-radius: 4px;
  background: #292f33 url('../images/ui/ring.svg?1531239544') no-repeat center 75px;
  min-height: 600px;
  height: 600px;
}
/* line 143, ../sass/projects.scss */
body.imr [role="complementary"] header {
  background-color: #c4edc3;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]:-moz-placeholder,
body.imr input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]::-moz-placeholder,
body.imr input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]:-ms-input-placeholder,
body.imr input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]::-webkit-input-placeholder,
body.imr input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 41, ../sass/projects.scss */
.node-int {
  border-top: 4px solid #782a71;
}
/* line 43, ../sass/projects.scss */
.node-int .field-name-field-project {
  background-color: #60215a;
}
/* line 47, ../sass/projects.scss */
.node-int.node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-int.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 59, ../sass/projects.scss */
.int .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-int.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 70, ../sass/projects.scss */
body.int .featured-more {
  border-top: 2px solid #782a71;
}
/* line 72, ../sass/projects.scss */
body.int .featured-more .blockheader div {
  color: white;
  background-color: #782a71;
  display: inline-block;
  padding: 0 6px;
  min-height: 1.4rem;
}
/* line 81, ../sass/projects.scss */
body.int .view-list-of-all-hubs .view-filters {
  text-align: right;
  box-shadow: 0px 2px 2px #ccc;
}
/* line 85, ../sass/projects.scss */
body.int .view-list-of-all-hubs .view-filters .views-exposed-widgets {
  margin: 0;
  padding-right: 10px;
  padding-top: 7px;
  border: none;
  border-bottom: 4px solid #782a71;
}
/* line 93, ../sass/projects.scss */
body.int .view-list-of-all-hubs .node-hub.node-teaser {
  border-bottom: 4px solid #782a71;
}
/* line 95, ../sass/projects.scss */
body.int .view-list-of-all-hubs .node-hub.node-teaser:last-child {
  border-bottom: none;
}
/* line 102, ../sass/projects.scss */
body.int a:link,
body.int a:visited {
  color: #782a71;
}
/* line 106, ../sass/projects.scss */
body.int a:hover,
body.int a:focus {
  color: #521d4d;
  text-decoration: underline;
}
/* line 111, ../sass/projects.scss */
body.int a:active {
  color: #2c102a;
}
/* line 115, ../sass/projects.scss */
body.int [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 119, ../sass/projects.scss */
body.int [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 122, ../sass/projects.scss */
body.int nav.global {
  box-shadow: 0px 3px #bf49b5;
  border-bottom: 3px solid #782a71;
}
/* line 126, ../sass/projects.scss */
body.int footer#footer {
  border-top: 3px solid #9a3691;
  box-shadow: 0px -3px #b13ea6;
}
/* line 130, ../sass/projects.scss */
body.int .comments#comments {
  border-color: #9a3691;
}
/* line 134, ../sass/projects.scss */
body.int [role="complementary"] .block {
  background-color: #f0f0e8;
}
/* line 136, ../sass/projects.scss */
body.int [role="complementary"] .block.twitter-block {
  border-radius: 4px;
  background: #292f33 url('../images/ui/ring.svg?1531239544') no-repeat center 75px;
  min-height: 600px;
  height: 600px;
}
/* line 143, ../sass/projects.scss */
body.int [role="complementary"] header {
  background-color: #ddddc9;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]:-moz-placeholder,
body.int input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]::-moz-placeholder,
body.int input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]:-ms-input-placeholder,
body.int input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]::-webkit-input-placeholder,
body.int input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 41, ../sass/projects.scss */
.node-alt {
  border-top: 4px solid #be1e2d;
}
/* line 43, ../sass/projects.scss */
.node-alt .field-name-field-project {
  background-color: #981824;
}
/* line 47, ../sass/projects.scss */
.node-alt.node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-alt.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 59, ../sass/projects.scss */
.alt .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-alt.svg?1528903581');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}

/* line 70, ../sass/projects.scss */
body.alt .featured-more {
  border-top: 2px solid #be1e2d;
}
/* line 72, ../sass/projects.scss */
body.alt .featured-more .blockheader div {
  color: white;
  background-color: #be1e2d;
  display: inline-block;
  padding: 0 6px;
  min-height: 1.4rem;
}
/* line 81, ../sass/projects.scss */
body.alt .view-list-of-all-hubs .view-filters {
  text-align: right;
  box-shadow: 0px 2px 2px #ccc;
}
/* line 85, ../sass/projects.scss */
body.alt .view-list-of-all-hubs .view-filters .views-exposed-widgets {
  margin: 0;
  padding-right: 10px;
  padding-top: 7px;
  border: none;
  border-bottom: 4px solid #be1e2d;
}
/* line 93, ../sass/projects.scss */
body.alt .view-list-of-all-hubs .node-hub.node-teaser {
  border-bottom: 4px solid #be1e2d;
}
/* line 95, ../sass/projects.scss */
body.alt .view-list-of-all-hubs .node-hub.node-teaser:last-child {
  border-bottom: none;
}
/* line 102, ../sass/projects.scss */
body.alt a:link,
body.alt a:visited {
  color: #be1e2d;
}
/* line 106, ../sass/projects.scss */
body.alt a:hover,
body.alt a:focus {
  color: #921723;
  text-decoration: underline;
}
/* line 111, ../sass/projects.scss */
body.alt a:active {
  color: #661018;
}
/* line 115, ../sass/projects.scss */
body.alt [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 119, ../sass/projects.scss */
body.alt [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 122, ../sass/projects.scss */
body.alt nav.global {
  box-shadow: 0px 3px #e55d69;
  border-bottom: 3px solid #be1e2d;
}
/* line 126, ../sass/projects.scss */
body.alt footer#footer {
  border-top: 3px solid #de2c3d;
  box-shadow: 0px -3px #e24755;
}
/* line 130, ../sass/projects.scss */
body.alt .comments#comments {
  border-color: #de2c3d;
}
/* line 134, ../sass/projects.scss */
body.alt [role="complementary"] .block {
  background-color: #f2f8e9;
}
/* line 136, ../sass/projects.scss */
body.alt [role="complementary"] .block.twitter-block {
  border-radius: 4px;
  background: #292f33 url('../images/ui/ring.svg?1531239544') no-repeat center 75px;
  min-height: 600px;
  height: 600px;
}
/* line 143, ../sass/projects.scss */
body.alt [role="complementary"] header {
  background-color: #dfeec6;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]:-moz-placeholder,
body.alt input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]::-moz-placeholder,
body.alt input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]:-ms-input-placeholder,
body.alt input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]::-webkit-input-placeholder,
body.alt input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 161, ../sass/projects.scss */
.featured-item-list .featured-item {
  padding-bottom: 10px;
}

/* line 165, ../sass/projects.scss */
.featuredhub-info {
  max-width: 88%;
}
/* line 169, ../sass/projects.scss */
.featuredhub-info time {
  color: #444 !important;
  margin: 5px 0 2px;
}
/* line 177, ../sass/projects.scss */
.featuredhub-info h2 {
  padding: 0 0 8px 0;
  font-size: 18px;
  line-height: 1.25;
}
/* line 179, ../sass/projects.scss */
.featuredhub-info h2 a {
  color: #222 !important;
}

/* line 189, ../sass/projects.scss */
.field-name-field-project {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: inline-block;
  float: left;
  padding: 2px 13px 2px;
  text-transform: uppercase;
  font-size: .85rem;
  line-height: 1.3;
  color: #ffffff !important;
}
/* line 201, ../sass/projects.scss */
.field-name-field-project a:link,
.field-name-field-project a:visited,
.field-name-field-project a:hover,
.field-name-field-project a:active {
  color: #ffffff !important;
}

/* line 5, ../sass/projects/_mc.scss */
body.mc [role="main"] {
  max-width: 84rem;
  margin: 0em auto 0;
}
/* line 9, ../sass/projects/_mc.scss */
body.mc [role="banner"] {
  margin: 3.25em auto 3rem;
  max-width: 84rem;
}
/* line 13, ../sass/projects/_mc.scss */
body.mc [role="banner"] .logo {
  background-image: url('../images/mc-logos/mc.svg?1531239544');
  background-size: contain;
  width: 22.5rem;
  height: 4.4rem;
}
/* line 19, ../sass/projects/_mc.scss */
body.mc [role="banner"] #main-nav {
  display: none;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 23, ../sass/projects/_mc.scss */
  body.mc [role="banner"] button.skip-arrow {
    display: none !important;
    border-color: red;
  }
}
/* line 31, ../sass/projects/_mc.scss */
body.mc footer#footer {
  max-width: 84rem;
  margin: 3em auto 0;
}
/* line 36, ../sass/projects/_mc.scss */
body.mc [role="complementary"] > div,
body.mc [role="complementary"] .block {
  background-color: #e7eef3;
}
/* line 41, ../sass/projects/_mc.scss */
body.mc [role="complementary"] header {
  background-color: #cccccc;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 46, ../sass/projects/_mc.scss */
  body.mc [role="banner"] {
    margin: 3.25em auto 1rem;
  }
  /* line 48, ../sass/projects/_mc.scss */
  body.mc [role="banner"] h1 {
    margin-left: 3%;
  }
  /* line 51, ../sass/projects/_mc.scss */
  body.mc [role="banner"] .logo {
    width: 60vw;
    max-width: 700px;
    min-width: 220px;
    height: 4rem;
  }
}

/* line 13, ../sass/projects/_int.scss */
.node-review.view-mode-full {
  border-top: 4px solid #782a70;
  font-family: "Georgia", "Times New Roman", serif;
  max-width: 38em;
  line-height: 1.5;
  font-size: 1.1em;
  padding-bottom: 40px;
}
/* line 20, ../sass/projects/_int.scss */
.node-review.view-mode-full .review-byline {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0;
}

/* line 29, ../sass/projects/_int.scss */
body.int .backToIssue a:link,
body.int .backToIssue a:visited {
  padding: 3px 0px;
  line-height: 1.4;
  display: block;
  color: white;
  color: #3e3d3d;
}
/* line 40, ../sass/projects/_int.scss */
body.int [role="banner"] .logo {
  background: url('../images/mc-logos/int.svg?1531239544');
  background-repeat: no-repeat;
  background-size: cover;
  width: 33rem;
  height: 3.2rem;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 40, ../sass/projects/_int.scss */
  body.int [role="banner"] .logo {
    width: 67vw;
    max-width: 380px;
    height: 2.6rem;
    margin-top: 10px;
  }
}
@media (min-width: 501px) and (max-width: 599px) {
  /* line 40, ../sass/projects/_int.scss */
  body.int [role="banner"] .logo {
    margin-top: 10px;
  }
}
@media (min-width: 200px) and (max-width: 500px) {
  /* line 40, ../sass/projects/_int.scss */
  body.int [role="banner"] .logo {
    width: 60vw;
    max-width: 15rem;
    margin-top: 0px;
    background-position: bottom;
  }
}
/* line 63, ../sass/projects/_int.scss */
body.int .mc_recent_comments .blockheader div:after {
  content: " on [in]Transition";
}
/* line 67, ../sass/projects/_int.scss */
body.int #block-views-contributors-this-hub-block .blockheader div:after {
  content: " to this Issue";
}
/* line 71, ../sass/projects/_int.scss */
body.int iframe {
  max-width: 100%;
}
/* line 76, ../sass/projects/_int.scss */
body.int .spoke-teaser-meta .peoplelist {
  float: none;
}
/* line 79, ../sass/projects/_int.scss */
body.int .spoke-teaser-meta .comment-count {
  float: none;
}
/* line 81, ../sass/projects/_int.scss */
body.int .spoke-teaser-meta .comment-count::before {
  content: none;
}
/* line 87, ../sass/projects/_int.scss */
body.int .node-hub .field-name-field-body {
  position: relative;
  font-family: "Georgia", "Times New Roman", serif;
  line-height: 1.4;
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 41rem;
}
/* line 94, ../sass/projects/_int.scss */
body.int .node-hub .field-name-field-body p {
  margin-bottom: 1rem;
}
/* line 100, ../sass/projects/_int.scss */
body.int .node-spoke.node-teaser {
  border-bottom: 1px solid #eaeadf;
  border-bottom: none;
}
/* line 103, ../sass/projects/_int.scss */
body.int .node-spoke.node-teaser:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 110, ../sass/projects/_int.scss */
body.int .featured-more header {
  margin-bottom: 20px;
}
/* line 113, ../sass/projects/_int.scss */
body.int .featuredhub-info {
  position: relative;
  bottom: 0px;
  max-width: 100%;
  left: 0px;
}
/* line 120, ../sass/projects/_int.scss */
body.int.front .field-name-field-body {
  display: none;
}
/* line 123, ../sass/projects/_int.scss */
body.int.front .field-name-field-representative-image a {
  display: block;
  margin: 0;
  line-height: .5;
}
/* line 130, ../sass/projects/_int.scss */
body.int .homehub-spokes {
  margin-top: .8em;
}
/* line 133, ../sass/projects/_int.scss */
body.int header.hubhead {
  position: relative;
}
/* line 137, ../sass/projects/_int.scss */
body.int.node-type-hub .hub-title {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 1.4;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: .5rem;
}
@media (min-width: 50.0625em) {
  /* line 149, ../sass/projects/_int.scss */
  body.int.front #content {
    width: 70.5%;
  }
  /* line 152, ../sass/projects/_int.scss */
  body.int.front [role="complementary"] {
    width: 28%;
  }
}
/* line 156, ../sass/projects/_int.scss */
body.int.front header.hubhead {
  position: relative;
}
/* line 158, ../sass/projects/_int.scss */
body.int.front header.hubhead .peoplelist {
  display: none;
}
/* line 162, ../sass/projects/_int.scss */
body.int.front .hub-title {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 1.5;
  font-size: 1.4rem;
  padding: 0;
}
/* line 169, ../sass/projects/_int.scss */
body.int.front .hub-title a {
  background-color: rgba(255, 255, 255, 0.8);
  padding: .5rem;
}
/* line 174, ../sass/projects/_int.scss */
body.int.front .spoke-title {
  font-size: 1.25rem;
}
/* line 179, ../sass/projects/_int.scss */
body.int time,
body.int .date-display-range {
  display: none !important;
}
/* line 184, ../sass/projects/_int.scss */
body.int .comment time {
  display: block !important;
}
/* line 188, ../sass/projects/_int.scss */
body.int li.featured-item {
  min-height: 7rem;
}
/* line 192, ../sass/projects/_int.scss */
body.int .node-spoke.node-teaser .thumb {
  background-size: 224%;
  background-position-x: 3px;
  background-position-y: -77px;
}
/* line 199, ../sass/projects/_int.scss */
body.int .node-hub.node-teaser .field-name-field-body {
  display: none;
}
/* line 202, ../sass/projects/_int.scss */
body.int .node-hub.node-teaser .field-name-field-representative-image {
  background: url('../images/default_images/spoke-default-int.svg?1528903581');
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 207, ../sass/projects/_int.scss */
body.int .node-hub.node-teaser .hub-title {
  font-size: 1.4rem;
}
/* line 213, ../sass/projects/_int.scss */
body.int .intransition_full header h2 {
  margin-bottom: .4rem;
}
/* line 217, ../sass/projects/_int.scss */
body.int .intransition_full .int-full-sections {
  width: auto;
  overflow: hidden;
  margin: 2em 0;
}
@media (min-width: 830px) {
  /* line 223, ../sass/projects/_int.scss */
  body.int .intransition_full .group-1 {
    float: left;
    width: 49%;
    margin-right: 1%;
    margin-bottom: 2em;
  }
  /* line 229, ../sass/projects/_int.scss */
  body.int .intransition_full .group-2 {
    float: right;
    width: 48%;
    margin-left: 1%;
    border-left: 1px solid #d2bdcf;
    padding-left: 30px;
  }
  /* line 236, ../sass/projects/_int.scss */
  body.int .intransition_full .group-3 {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
}
/* line 242, ../sass/projects/_int.scss */
body.int .intransition_full .group-footer {
  clear: both;
  margin-top: 4em;
}

/* line 249, ../sass/projects/_int.scss */
.review-byline {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #232323;
}
/* line 254, ../sass/projects/_int.scss */
.review-byline .label {
  display: inline-block;
}
/* line 257, ../sass/projects/_int.scss */
.review-byline a {
  color: inherit;
}
/* line 260, ../sass/projects/_int.scss */
.review-byline .view-mode-user_byline {
  display: inline-block;
  float: none;
}

/* line 266, ../sass/projects/_int.scss */
.field-name-posts-contributed.mc-int .block-title::after {
  content: "As creator";
}

/* line 7, ../sass/projects/_alt.scss */
body.alt .logo {
  background: url('../images/mc-logos/alt.svg?1531239544');
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 7, ../sass/projects/_alt.scss */
  body.alt .logo {
    background-position: bottom;
    height: 3rem;
  }
}
/* line 16, ../sass/projects/_alt.scss */
body.alt .mc_recent_comments .blockheader div:after {
  content: " on #alt-ac";
}
/* line 19, ../sass/projects/_alt.scss */
body.alt #block-views-contributors-this-hub-block .blockheader div:after {
  content: " to this Cluster";
}
/* line 22, ../sass/projects/_alt.scss */
body.alt .node-hub.node-teaser .field-name-field-representative-image {
  background: url('../images/default_images/spoke-default-alt.svg?1528903581');
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 28, ../sass/projects/_alt.scss */
body.alt [role="complementary"] > div,
body.alt [role="complementary"] .block {
  background-color: #e8e8e8;
}
/* line 51, ../sass/projects/_alt.scss */
body.alt [role="complementary"] header {
  background-color: #cccccc;
}

/* line 24, ../sass/projects/_fieldguide.scss */
body.fieldguide .mc_recent_comments .blockheader div:after {
  content: " on Field Guide";
}
/* line 27, ../sass/projects/_fieldguide.scss */
body.fieldguide #block-views-contributors-this-hub-block .blockheader div:after {
  content: " to this Survey Question";
}
/* line 30, ../sass/projects/_fieldguide.scss */
body.fieldguide .node-spoke.node-teaser .thumb,
body.fieldguide .field-name-field-representative-image {
  display: none;
}
/* line 34, ../sass/projects/_fieldguide.scss */
body.fieldguide nav.global {
  box-shadow: 0px 3px #b98a00;
  border-bottom: 3px solid #d7a100;
}
/* line 39, ../sass/projects/_fieldguide.scss */
body.fieldguide [role="complementary"] header {
  background-color: #ece2c5;
}
/* line 42, ../sass/projects/_fieldguide.scss */
body.fieldguide [role="complementary"] > div,
body.fieldguide [role="complementary"] .block {
  background-color: #f5f0e0;
}
/* line 51, ../sass/projects/_fieldguide.scss */
body.fieldguide .comments article {
  padding: 2.5%;
  border: transparent 1px solid;
}
/* line 54, ../sass/projects/_fieldguide.scss */
body.fieldguide .comments article:nth-of-type(odd) {
  background-color: #f5f0e0;
}
/* line 57, ../sass/projects/_fieldguide.scss */
body.fieldguide .comments article:nth-of-type(even) {
  background-color: #efe7d0;
}
/* line 62, ../sass/projects/_fieldguide.scss */
body.fieldguide .logo {
  background-position: 0 0%;
  width: 18rem;
  height: 4.8rem;
  background-image: url('../images/mc-logos/fieldguide.svg?1531239544');
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 71, ../sass/projects/_fieldguide.scss */
  body.fieldguide .logo {
    height: 2.5rem;
    padding: 0;
    background-image: url('../images/mc-logos/fieldguide.svg?1531239544');
    background-position: bottom;
    background-size: cover;
    width: 60vw;
    left: 18vw;
    max-width: 15rem;
  }
  /* line 81, ../sass/projects/_fieldguide.scss */
  body.fieldguide nav.global {
    box-shadow: none;
    border-bottom: 3px solid #C49A1E;
  }
}
/* line 88, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .hubhead h1.hub-title {
  font-size: 2.3rem;
}
/* line 93, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .timerangeheader > * {
  padding: 3px 29px;
}
/* line 104, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .field-name-field-spokes .field-item {
  margin-bottom: .5rem;
}
/* line 108, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-item {
  padding: 0;
  background-color: #d7a100;
}
/* line 110, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-item img {
  display: none;
}
/* line 113, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-item time {
  display: relative;
}
/* line 121, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .view-recent-6-hubs .featuredhub-info {
  position: static;
  height: 100%;
  padding-bottom: 20px;
  max-width: none;
  box-shadow: inset 0px 0px 0px 2px #f1ead4;
  background-color: #f5f0e0;
  display: flex;
  flex-direction: column;
}
/* line 130, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .view-recent-6-hubs .featuredhub-info time {
  order: 2;
  background-color: inherit;
  padding: 0 20px 0px;
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #5a5a5a !important;
}
/* line 138, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .view-recent-6-hubs .featuredhub-info .peoplelist {
  padding: 0 20px 0px;
}
/* line 141, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .view-recent-6-hubs .featuredhub-info h2 {
  background-color: inherit;
  padding: 0;
}
/* line 144, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .view-recent-6-hubs .featuredhub-info h2 a {
  display: block;
  padding: 20px 20px 5px 20px;
  color: black !important;
}
/* line 188, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-fg {
  position: static;
  max-width: none;
  flex: 0 1 49%;
}
/* line 192, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-fg time {
  display: none;
}
/* line 195, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-fg a {
  display: block;
  background-color: #d7a100;
}
/* line 198, ../sass/projects/_fieldguide.scss */
body.fieldguide.front .featured-fg a:hover {
  background-color: #e1b83f;
}
/* line 205, ../sass/projects/_fieldguide.scss */
body.fieldguide .view-list-of-all-hubs .group-flex1 {
  display: none;
}
/* line 209, ../sass/projects/_fieldguide.scss */
body.fieldguide .node-spoke.node-teaser {
  border-bottom: none;
  padding-bottom: .5rem;
}

/* line 4, ../sass/projects/_tne.scss */
body.tne .logo {
  background: url('../images/mc-logos/tne.svg?1531239544');
  background-size: cover;
  background-repeat: no-repeat;
  width: 20rem;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 4, ../sass/projects/_tne.scss */
  body.tne .logo {
    background-position: bottom;
    height: 2.5rem;
  }
}
/* line 15, ../sass/projects/_tne.scss */
body.tne .mc_recent_comments .blockheader div:after {
  content: " on TNE";
}
/* line 19, ../sass/projects/_tne.scss */
body.tne #block-views-contributors-this-hub-block .blockheader div:after {
  content: " to this Cluster";
}
/* line 22, ../sass/projects/_tne.scss */
body.tne .field-name-field-representative-image {
  background: url('../images/default_images/spoke-default-tne.svg?1528903581');
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6, ../sass/projects/_imr.scss */
body.imr .logo {
  background: url('../images/mc-logos/imr.svg?1531239544');
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.7rem;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 6, ../sass/projects/_imr.scss */
  body.imr .logo {
    background-position: bottom;
    height: 2.5rem;
  }
}
/* line 16, ../sass/projects/_imr.scss */
body.imr .mc_recent_comments .blockheader div:after {
  content: " on IMR";
}
/* line 19, ../sass/projects/_imr.scss */
body.imr #block-views-contributors-this-hub-block .blockheader div:after {
  content: " to this Theme Week";
}
/* line 23, ../sass/projects/_imr.scss */
body.imr .view-mode-hub-home .hub-title {
  font-size: 2.5rem;
  max-width: 90%;
}
/* line 30, ../sass/projects/_imr.scss */
body.imr [role="complementary"] > div,
body.imr [role="complementary"] .block {
  background-color: #e8e8e8;
}
/* line 34, ../sass/projects/_imr.scss */
body.imr [role="complementary"] header {
  background-color: #cccccc;
}
/* line 38, ../sass/projects/_imr.scss */
body.imr .field-name-field-representative-image {
  background: url('../images/default_images/spoke-default-imr.svg?1528903581');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  border: 1px solid #e5e4e4;
}

/* line 47, ../sass/projects/_imr.scss */
.not-available {
  opacity: 0.5;
}

/* line 2, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .node-mcpress {
  border-top: 4px solid #659e42;
}
/* line 4, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .node-mcpress .field-name-field-project {
  background-color: #225a00;
}
/* line 8, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .node-fg {
  border-top: 4px solid #d7a100;
}
/* line 10, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .node-fg .field-name-field-project {
  background-color: #d7a100;
}
/* line 14, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="complementary"] {
  background-color: #fff;
}
/* line 16, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="complementary"] .view-simple-for-survey {
  padding: .5rem 1rem;
}
/* line 18, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="complementary"] .view-simple-for-survey .survey-question {
  font-size: 1.4rem;
  margin: 1rem 0 1rem;
  line-height: 1.3;
}
/* line 23, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="complementary"] .view-simple-for-survey .field-item {
  margin: 1em 0;
}
/* line 26, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="complementary"] .view-simple-for-survey .field-name-title {
  font-size: 1.2rem;
}
/* line 32, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="complementary"] .view-simple-for-survey a.username {
  font-size: .9rem;
  display: block;
  color: #999999;
}
/* line 39, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc [role="main"] {
  max-width: 84rem;
  margin: 0em auto 0;
}
/* line 46, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-more {
  margin-top: 0;
}
/* line 49, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc #content {
  width: 100%;
  max-width: none;
}
/* line 54, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .flexhold {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 64, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .flexhold section {
  -ms-flex: 0 0 74.5%;
  -webkit-flex: 0 0 74.5%;
  flex: 0 0 74.5%;
}
/* line 69, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .flexhold aside {
  -ms-flex: 0 1 23%;
  -webkit-flex: 0 1 23%;
  flex: 0 1 23%;
}
/* line 75, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list {
  margin-top: 1%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 86, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list .featured-item:empty {
  height: 0;
  border: none;
  padding: 0;
  box-shadow: none;
  margin: 0;
}
/* line 93, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list .featured-item {
  background: #e7eef3;
  box-shadow: inset 0px 0px 1px rgba(30, 30, 30, 0.5), 0px 1px 1px 0px rgba(30, 30, 30, 0.5);
  -ms-flex: 0 1 31%;
  -webkit-flex: 0 1 31%;
  flex: 0 1 31%;
  margin: 10px 0 20px;
  padding-bottom: 0;
  overflow: hidden;
  transition: all .1s ease;
}
/* line 104, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list .featured-item:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: inset 0px 0px 1px rgba(30, 30, 30, 0.9), 0px 1px 1px 0px rgba(30, 30, 30, 0.9);
}
/* line 122, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list .featured-item:hover .field-name-field-body {
  color: black;
}
/* line 126, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list .featured-item:hover h2 a:link,
.front.mc .featured-item-list .featured-item:hover h2 a:visited {
  color: black;
}
@media (min-width: 600px) and (max-width: 840px) {
  /* line 93, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .featured-item-list .featured-item {
    -webkit-flex: 0 1 49%;
    flex: 0 1 49%;
    margin: 20px 0;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  /* line 93, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .featured-item-list .featured-item {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 25px 0 0;
  }
}
/* line 145, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-item-list .featured-item p {
  margin-bottom: 0;
}
/* line 150, ../sass/modules/homepage/_homepageUmbrella.scss */
.front.mc .featured-more {
  border-top: none;
}
@media (min-width: 0px) and (max-width: 980px) {
  /* line 156, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .flexhold section {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 1% 0;
  }
  /* line 161, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .flexhold aside {
    margin: 1% 0;
    flex: none;
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
  }
  /* line 169, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .flexhold aside .block {
    -webkit-flex: 0 1 49%;
    flex: 0 1 49%;
    margin: 1% 0;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  /* line 178, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .flexhold aside {
    display: block;
  }
  /* line 180, ../sass/modules/homepage/_homepageUmbrella.scss */
  .front.mc .flexhold aside .block {
    flex: none;
    display: block;
    width: 100%;
    margin: 20px 0;
  }
}

/* line 192, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post {
  position: relative;
  overflow: hidden;
}
/* line 196, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-teaser {
  padding-bottom: 10px;
}
/* line 199, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-teaser h2 {
  border-top: 1px solid #cfd6da;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  padding-top: 0;
}
/* line 206, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-teaser h2 a {
  display: block;
  padding: 5px 10px 5px;
}
/* line 210, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-teaser h2 a:link,
.node-front-page-post.view-mode-teaser h2 a:visited {
  color: #222;
}
/* line 215, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-teaser .field-name-field-body {
  font-size: .8rem;
  margin: 0;
  padding: 0px 10px;
  line-height: 1.5;
}
/* line 223, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full:hover {
  cursor: pointer;
}
/* line 228, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full .field-group-html-element {
  position: absolute;
  top: -2px;
  left: 0px;
}
/* line 233, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full .field-name-field-project {
  padding: 1px 13px 2px;
  text-transform: uppercase;
  font-size: .85rem;
  line-height: 1.3;
  float: left;
}
/* line 240, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full h2 {
  background: #ffffff;
  font-size: 1.6rem;
  margin: 2rem 1rem 1rem;
  padding-top: 0;
  float: left;
  clear: both;
}
/* line 247, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full h2 a {
  color: #222 !important;
  padding: 8px 12px;
  display: block;
}
/* line 253, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full .field-name-field-body {
  background: #ffffff;
  margin: 0rem 1rem 1rem;
  padding: 10px;
  color: #222;
  float: left;
  clear: both;
}
/* line 260, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post.view-mode-full .field-name-field-body p:last-child {
  margin: 0;
}
/* line 266, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post .field-name-field-featured-image-thumb {
  background-color: white;
}
/* line 268, ../sass/modules/homepage/_homepageUmbrella.scss */
.node-front-page-post .field-name-field-featured-image-thumb img {
  display: block;
  width: 100%;
  height: auto;
  transition: all .1s ease;
}

/* line 277, ../sass/modules/homepage/_homepageUmbrella.scss */
.hometophold {
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  /* line 277, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
  }
}
@media (min-width: 600px) {
  /* line 290, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopleft {
    -ms-flex: 0 0 65.5%;
    -webkit-flex: 0 0 65.5%;
    flex: 0 0 65.5%;
  }
}
/* line 297, ../sass/modules/homepage/_homepageUmbrella.scss */
.hometophold .hometopright {
  background-color: #e7eef3;
  font-size: .9rem;
}
@media (min-width: 600px) {
  /* line 297, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright {
    -ms-flex: 0 1 31%;
    -webkit-flex: 0 1 31%;
    flex: 0 1 31%;
    padding: 15px;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  /* line 297, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright {
    margin-top: 20px;
    padding: 20px;
  }
}
/* line 310, ../sass/modules/homepage/_homepageUmbrella.scss */
.hometophold .hometopright .readmoreabout {
  text-decoration: underline;
}
/* line 314, ../sass/modules/homepage/_homepageUmbrella.scss */
.hometophold .hometopright .special {
  font-size: 1.1em;
  font-weight: bold;
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 318, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright .special span {
    display: none;
  }
}
/* line 323, ../sass/modules/homepage/_homepageUmbrella.scss */
.hometophold .hometopright .maintext {
  font-size: 1.05rem;
  line-height: 1.3;
}
@media (min-width: 1281px) {
  /* line 323, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright .maintext {
    font-size: calc(8px + 1vw);
    line-height: 1.2;
    margin: 1em 0;
  }
}
@media (min-width: 801px) and (max-width: 980px) {
  /* line 323, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright .maintext {
    font-size: 1.1rem;
    font-size: calc(8px + 1vw);
    font-size: calc(.1 * 20vw);
    margin: 1em 0;
  }
}
@media (min-width: 681px) and (max-width: 800px) {
  /* line 323, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright .maintext {
    font-size: .9rem;
    margin: .2em 0;
  }
}
@media (min-width: 240px) and (max-width: 800px) {
  /* line 323, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright .maintext {
    font-size: calc(.7rem + .5vw);
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  /* line 323, ../sass/modules/homepage/_homepageUmbrella.scss */
  .hometophold .hometopright .maintext {
    font-size: 1.1rem;
    margin: .6em 0;
  }
}

/* line 354, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc {
  padding: 0 20px 20px 20px;
  margin-top: 15px;
  border-top: 4px solid #d7a100;
  box-shadow: inset 0px 0px 1px rgba(30, 30, 30, 0.3);
}
/* line 359, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .view-content {
  padding: 0 !important;
}
/* line 362, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .thumb {
  display: none;
}
/* line 366, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .blockheader div {
  background: #d7a100;
  margin: 0px 0 0 -20px;
  display: inline-block;
  float: left;
  margin-bottom: 1em;
  padding: 0px 20px 3px;
  text-transform: uppercase;
  font-size: .9rem;
}
/* line 377, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .hub-title {
  clear: both;
  font-size: 1.2rem;
  line-height: 1.3;
}
/* line 381, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .hub-title a:link,
body.mc .block.fieldguide_toc .hub-title a:visited {
  color: #111111;
}
/* line 386, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .spokes {
  margin-top: 20px;
  border-top: 2px solid #d7a100;
}
/* line 390, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .node-teaser {
  border: none;
  padding: .8em 0 0 0;
}
/* line 394, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .spoke-title {
  font-size: .9rem;
}
/* line 398, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .node-spoke.node-teaser time::before {
  content: "";
}
/* line 401, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .node-spoke.node-teaser .comment-count {
  clear: left;
  display: block;
}
/* line 404, ../sass/modules/homepage/_homepageUmbrella.scss */
body.mc .block.fieldguide_toc .node-spoke.node-teaser .comment-count::before {
  content: "";
}

@media (min-width: 0px) and (max-width: 599px) {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 1% 0;
}
