/* line 26, ../sass/projects.scss */
.node-mcpress {
  border-top: 2px solid #659e42;
}

/*   */
/* line 53, ../sass/projects.scss */
.node-mc {
  border-top: 2px solid #196195;
}
/* line 56, ../sass/projects.scss */
.node-mc .field-name-field-project {
  background-color: #196195;
}

/* line 62, ../sass/projects.scss */
body.mc a:link,
body.mc a:visited {
  color: #196195;
}
/* line 67, ../sass/projects.scss */
body.mc a[href]:hover,
body.mc a[href]:focus {
  color: #124569;
  text-decoration: underline;
}
/* line 73, ../sass/projects.scss */
body.mc a[href]:active {
  color: #0a283e;
}
/* line 78, ../sass/projects.scss */
body.mc [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 83, ../sass/projects.scss */
body.mc [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 87, ../sass/projects.scss */
body.mc nav.global {
  box-shadow: 0px 3px #3797dd;
  border-bottom: 3px solid #196195;
}
/* line 92, ../sass/projects.scss */
body.mc footer#footer {
  border-top: 3px solid #207bbc;
  box-shadow: 0px -3px #248cd7;
}
/* line 97, ../sass/projects.scss */
body.mc [role="complementary"] {
  background-color: #f4ece7;
}
/* line 100, ../sass/projects.scss */
body.mc [role="complementary"] header {
  background-color: #e5d1c6;
}
/* line 107, ../sass/projects.scss */
body.mc .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-mc.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}
/* line 118, ../sass/projects.scss */
body.mc.front .timerangeheader {
  background-color: #333333;
}
@media (min-width: 50.0625em) {
  /* line 122, ../sass/projects.scss */
  body.mc.front .field-name-field-spokes {
    border-left: 1px solid #248cd7;
  }
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 122, ../sass/projects.scss */
  body.mc.front .field-name-field-spokes {
    border-left: 4px solid #248cd7;
    padding-left: 7px;
    margin-top: 20px;
  }
}
/* line 135, ../sass/projects.scss */
body.mc.front .featured-more header {
  border-top: 1px solid #207bbc;
}
/* line 61, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]:-moz-placeholder, body.mc input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]::-moz-placeholder, body.mc input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]:-ms-input-placeholder, body.mc input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.mc input[type="search"]::-webkit-input-placeholder, body.mc input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 148, ../sass/projects.scss */
body.mc .pager a:active {
  color: #fff;
  background-color: #196195;
}
/* line 165, ../sass/projects.scss */
body.mc .styleguide {
  color: #5F4C16;
}
/* line 168, ../sass/projects.scss */
body.mc .styleguide li {
  padding: 5px;
}
/* line 172, ../sass/projects.scss */
body.mc .styleguide .primary {
  background-color: #196195;
}
/* line 175, ../sass/projects.scss */
body.mc .styleguide .primary h1 {
  background-color: #196195;
  color: #5F4C16;
}
/* line 181, ../sass/projects.scss */
body.mc .styleguide .primary ul li:nth-child(1) {
  background-color: #196195;
}
/* line 185, ../sass/projects.scss */
body.mc .styleguide .primary ul li:nth-child(2) {
  background-color: #5389b0;
}
/* line 189, ../sass/projects.scss */
body.mc .styleguide .primary ul li:nth-child(3) {
  background-color: #8cb0ca;
}
/* line 193, ../sass/projects.scss */
body.mc .styleguide .primary ul li:nth-child(4) {
  background-color: #c6d8e5;
}
/* line 197, ../sass/projects.scss */
body.mc .styleguide .primary ul li:nth-child(5) {
  background-color: #dde7ef;
}
/* line 203, ../sass/projects.scss */
body.mc .styleguide .secondary {
  background-color: #956e19;
}
/* line 207, ../sass/projects.scss */
body.mc .styleguide .secondary ul li:nth-child(1) {
  background-color: #956e19;
}
/* line 211, ../sass/projects.scss */
body.mc .styleguide .secondary ul li:nth-child(2) {
  background-color: #b09253;
}
/* line 215, ../sass/projects.scss */
body.mc .styleguide .secondary ul li:nth-child(3) {
  background-color: #cab78c;
}
/* line 219, ../sass/projects.scss */
body.mc .styleguide .secondary ul li:nth-child(4) {
  background-color: #e5dbc6;
}
/* line 223, ../sass/projects.scss */
body.mc .styleguide .secondary ul li:nth-child(5) {
  background-color: #efe9dd;
}
/* line 229, ../sass/projects.scss */
body.mc .styleguide .tertiary {
  background-color: #c15d20;
}
/* line 233, ../sass/projects.scss */
body.mc .styleguide .tertiary ul li:nth-child(1) {
  background-color: #954819;
}
/* line 237, ../sass/projects.scss */
body.mc .styleguide .tertiary ul li:nth-child(2) {
  background-color: #b07653;
}
/* line 241, ../sass/projects.scss */
body.mc .styleguide .tertiary ul li:nth-child(3) {
  background-color: #caa48c;
}
/* line 245, ../sass/projects.scss */
body.mc .styleguide .tertiary ul li:nth-child(4) {
  background-color: #e5d1c6;
}
/* line 249, ../sass/projects.scss */
body.mc .styleguide .tertiary ul li:nth-child(5) {
  background-color: #efe4dd;
}
/* line 255, ../sass/projects.scss */
body.mc .styleguide .four {
  background-color: #33a9ff;
}
/* line 259, ../sass/projects.scss */
body.mc .styleguide .four ul li:nth-child(1) {
  background-color: #0094ff;
}
/* line 263, ../sass/projects.scss */
body.mc .styleguide .four ul li:nth-child(2) {
  background-color: #40afff;
}
/* line 267, ../sass/projects.scss */
body.mc .styleguide .four ul li:nth-child(3) {
  background-color: #80caff;
}
/* line 271, ../sass/projects.scss */
body.mc .styleguide .four ul li:nth-child(4) {
  background-color: #bfe4ff;
}
/* line 275, ../sass/projects.scss */
body.mc .styleguide .four ul li:nth-child(5) {
  background-color: #d9efff;
}

/*   */
/*   */
/* line 53, ../sass/projects.scss */
.node-fieldguide {
  border-top: 2px solid #8b6800;
}
/* line 56, ../sass/projects.scss */
.node-fieldguide .field-name-field-project {
  background-color: #8b6800;
}

/* line 62, ../sass/projects.scss */
body.fieldguide a:link,
body.fieldguide a:visited {
  color: #8b6800;
}
/* line 67, ../sass/projects.scss */
body.fieldguide a[href]:hover,
body.fieldguide a[href]:focus {
  color: #584200;
  text-decoration: underline;
}
/* line 73, ../sass/projects.scss */
body.fieldguide a[href]:active {
  color: #251c00;
}
/* line 78, ../sass/projects.scss */
body.fieldguide [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 83, ../sass/projects.scss */
body.fieldguide [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 87, ../sass/projects.scss */
body.fieldguide nav.global {
  box-shadow: 0px 3px #f1b400;
  border-bottom: 3px solid #8b6800;
}
/* line 92, ../sass/projects.scss */
body.fieldguide footer#footer {
  border-top: 3px solid #b98a00;
  box-shadow: 0px -3px #d8a100;
}
/* line 97, ../sass/projects.scss */
body.fieldguide [role="complementary"] {
  background-color: #e4eaf3;
}
/* line 100, ../sass/projects.scss */
body.fieldguide [role="complementary"] header {
  background-color: #bfcfe2;
}
/* line 107, ../sass/projects.scss */
body.fieldguide .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-fieldguide.svg?1446649989');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}
/* line 118, ../sass/projects.scss */
body.fieldguide.front .timerangeheader {
  background-color: #333333;
}
@media (min-width: 50.0625em) {
  /* line 122, ../sass/projects.scss */
  body.fieldguide.front .field-name-field-spokes {
    border-left: 1px solid #d8a100;
  }
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 122, ../sass/projects.scss */
  body.fieldguide.front .field-name-field-spokes {
    border-left: 4px solid #d8a100;
    padding-left: 7px;
    margin-top: 20px;
  }
}
/* line 135, ../sass/projects.scss */
body.fieldguide.front .featured-more header {
  border-top: 1px solid #b98a00;
}
/* line 61, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]:-moz-placeholder, body.fieldguide input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]::-moz-placeholder, body.fieldguide input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]:-ms-input-placeholder, body.fieldguide input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.fieldguide input[type="search"]::-webkit-input-placeholder, body.fieldguide input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 148, ../sass/projects.scss */
body.fieldguide .pager a:active {
  color: #fff;
  background-color: #8b6800;
}
/* line 165, ../sass/projects.scss */
body.fieldguide .styleguide {
  color: #5F4C16;
}
/* line 168, ../sass/projects.scss */
body.fieldguide .styleguide li {
  padding: 5px;
}
/* line 172, ../sass/projects.scss */
body.fieldguide .styleguide .primary {
  background-color: #8b6800;
}
/* line 175, ../sass/projects.scss */
body.fieldguide .styleguide .primary h1 {
  background-color: #8b6800;
  color: #5F4C16;
}
/* line 181, ../sass/projects.scss */
body.fieldguide .styleguide .primary ul li:nth-child(1) {
  background-color: #8b6800;
}
/* line 185, ../sass/projects.scss */
body.fieldguide .styleguide .primary ul li:nth-child(2) {
  background-color: #a88e40;
}
/* line 189, ../sass/projects.scss */
body.fieldguide .styleguide .primary ul li:nth-child(3) {
  background-color: #c5b480;
}
/* line 193, ../sass/projects.scss */
body.fieldguide .styleguide .primary ul li:nth-child(4) {
  background-color: #e2d9bf;
}
/* line 197, ../sass/projects.scss */
body.fieldguide .styleguide .primary ul li:nth-child(5) {
  background-color: #eee8d9;
}
/* line 203, ../sass/projects.scss */
body.fieldguide .styleguide .secondary {
  background-color: #25008b;
}
/* line 207, ../sass/projects.scss */
body.fieldguide .styleguide .secondary ul li:nth-child(1) {
  background-color: #25008b;
}
/* line 211, ../sass/projects.scss */
body.fieldguide .styleguide .secondary ul li:nth-child(2) {
  background-color: #5c40a8;
}
/* line 215, ../sass/projects.scss */
body.fieldguide .styleguide .secondary ul li:nth-child(3) {
  background-color: #9280c5;
}
/* line 219, ../sass/projects.scss */
body.fieldguide .styleguide .secondary ul li:nth-child(4) {
  background-color: #c9bfe2;
}
/* line 223, ../sass/projects.scss */
body.fieldguide .styleguide .secondary ul li:nth-child(5) {
  background-color: #ded9ee;
}
/* line 229, ../sass/projects.scss */
body.fieldguide .styleguide .tertiary {
  background-color: #0054be;
}
/* line 233, ../sass/projects.scss */
body.fieldguide .styleguide .tertiary ul li:nth-child(1) {
  background-color: #003d8b;
}
/* line 237, ../sass/projects.scss */
body.fieldguide .styleguide .tertiary ul li:nth-child(2) {
  background-color: #406ea8;
}
/* line 241, ../sass/projects.scss */
body.fieldguide .styleguide .tertiary ul li:nth-child(3) {
  background-color: #809ec5;
}
/* line 245, ../sass/projects.scss */
body.fieldguide .styleguide .tertiary ul li:nth-child(4) {
  background-color: #bfcfe2;
}
/* line 249, ../sass/projects.scss */
body.fieldguide .styleguide .tertiary ul li:nth-child(5) {
  background-color: #d9e2ee;
}
/* line 255, ../sass/projects.scss */
body.fieldguide .styleguide .four {
  background-color: #ffcc33;
}
/* line 259, ../sass/projects.scss */
body.fieldguide .styleguide .four ul li:nth-child(1) {
  background-color: #ffbf00;
}
/* line 263, ../sass/projects.scss */
body.fieldguide .styleguide .four ul li:nth-child(2) {
  background-color: #ffcf40;
}
/* line 267, ../sass/projects.scss */
body.fieldguide .styleguide .four ul li:nth-child(3) {
  background-color: #ffdf80;
}
/* line 271, ../sass/projects.scss */
body.fieldguide .styleguide .four ul li:nth-child(4) {
  background-color: #ffefbf;
}
/* line 275, ../sass/projects.scss */
body.fieldguide .styleguide .four ul li:nth-child(5) {
  background-color: #fff5d9;
}

/*   */
/*   */
/* line 53, ../sass/projects.scss */
.node-tne {
  border-top: 2px solid #1db7b7;
}
/* line 56, ../sass/projects.scss */
.node-tne .field-name-field-project {
  background-color: #1db7b7;
}

/* line 62, ../sass/projects.scss */
body.tne a:link,
body.tne a:visited {
  color: #1db7b7;
}
/* line 67, ../sass/projects.scss */
body.tne a[href]:hover,
body.tne a[href]:focus {
  color: #168b8b;
  text-decoration: underline;
}
/* line 73, ../sass/projects.scss */
body.tne a[href]:active {
  color: #0f5f5f;
}
/* line 78, ../sass/projects.scss */
body.tne [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 83, ../sass/projects.scss */
body.tne [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 87, ../sass/projects.scss */
body.tne nav.global {
  box-shadow: 0px 3px #56e4e4;
  border-bottom: 3px solid #1db7b7;
}
/* line 92, ../sass/projects.scss */
body.tne footer#footer {
  border-top: 3px solid #25dddd;
  box-shadow: 0px -3px #40e1e1;
}
/* line 97, ../sass/projects.scss */
body.tne [role="complementary"] {
  background-color: #f8ebe9;
}
/* line 100, ../sass/projects.scss */
body.tne [role="complementary"] header {
  background-color: #edcec7;
}
/* line 107, ../sass/projects.scss */
body.tne .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-tne.svg?1446649989');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}
/* line 118, ../sass/projects.scss */
body.tne.front .timerangeheader {
  background-color: #333333;
}
@media (min-width: 50.0625em) {
  /* line 122, ../sass/projects.scss */
  body.tne.front .field-name-field-spokes {
    border-left: 1px solid #40e1e1;
  }
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 122, ../sass/projects.scss */
  body.tne.front .field-name-field-spokes {
    border-left: 4px solid #40e1e1;
    padding-left: 7px;
    margin-top: 20px;
  }
}
/* line 135, ../sass/projects.scss */
body.tne.front .featured-more header {
  border-top: 1px solid #25dddd;
}
/* line 61, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]:-moz-placeholder, body.tne input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]::-moz-placeholder, body.tne input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]:-ms-input-placeholder, body.tne input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.tne input[type="search"]::-webkit-input-placeholder, body.tne input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 148, ../sass/projects.scss */
body.tne .pager a:active {
  color: #fff;
  background-color: #1db7b7;
}
/* line 165, ../sass/projects.scss */
body.tne .styleguide {
  color: #5F4C16;
}
/* line 168, ../sass/projects.scss */
body.tne .styleguide li {
  padding: 5px;
}
/* line 172, ../sass/projects.scss */
body.tne .styleguide .primary {
  background-color: #1db7b7;
}
/* line 175, ../sass/projects.scss */
body.tne .styleguide .primary h1 {
  background-color: #1db7b7;
  color: #5F4C16;
}
/* line 181, ../sass/projects.scss */
body.tne .styleguide .primary ul li:nth-child(1) {
  background-color: #1db7b7;
}
/* line 185, ../sass/projects.scss */
body.tne .styleguide .primary ul li:nth-child(2) {
  background-color: #56c9c9;
}
/* line 189, ../sass/projects.scss */
body.tne .styleguide .primary ul li:nth-child(3) {
  background-color: #8edbdb;
}
/* line 193, ../sass/projects.scss */
body.tne .styleguide .primary ul li:nth-child(4) {
  background-color: #c7eded;
}
/* line 197, ../sass/projects.scss */
body.tne .styleguide .primary ul li:nth-child(5) {
  background-color: #ddf4f4;
}
/* line 203, ../sass/projects.scss */
body.tne .styleguide .secondary {
  background-color: #b77a1d;
}
/* line 207, ../sass/projects.scss */
body.tne .styleguide .secondary ul li:nth-child(1) {
  background-color: #b77a1d;
}
/* line 211, ../sass/projects.scss */
body.tne .styleguide .secondary ul li:nth-child(2) {
  background-color: #c99b56;
}
/* line 215, ../sass/projects.scss */
body.tne .styleguide .secondary ul li:nth-child(3) {
  background-color: #dbbd8e;
}
/* line 219, ../sass/projects.scss */
body.tne .styleguide .secondary ul li:nth-child(4) {
  background-color: #eddec7;
}
/* line 223, ../sass/projects.scss */
body.tne .styleguide .secondary ul li:nth-child(5) {
  background-color: #f4ebdd;
}
/* line 229, ../sass/projects.scss */
body.tne .styleguide .tertiary {
  background-color: #dd4c2a;
}
/* line 233, ../sass/projects.scss */
body.tne .styleguide .tertiary ul li:nth-child(1) {
  background-color: #b73a1d;
}
/* line 237, ../sass/projects.scss */
body.tne .styleguide .tertiary ul li:nth-child(2) {
  background-color: #c96b56;
}
/* line 241, ../sass/projects.scss */
body.tne .styleguide .tertiary ul li:nth-child(3) {
  background-color: #db9d8e;
}
/* line 245, ../sass/projects.scss */
body.tne .styleguide .tertiary ul li:nth-child(4) {
  background-color: #edcec7;
}
/* line 249, ../sass/projects.scss */
body.tne .styleguide .tertiary ul li:nth-child(5) {
  background-color: #f4e1dd;
}
/* line 255, ../sass/projects.scss */
body.tne .styleguide .four {
  background-color: #33ffff;
}
/* line 259, ../sass/projects.scss */
body.tne .styleguide .four ul li:nth-child(1) {
  background-color: cyan;
}
/* line 263, ../sass/projects.scss */
body.tne .styleguide .four ul li:nth-child(2) {
  background-color: #40ffff;
}
/* line 267, ../sass/projects.scss */
body.tne .styleguide .four ul li:nth-child(3) {
  background-color: #80ffff;
}
/* line 271, ../sass/projects.scss */
body.tne .styleguide .four ul li:nth-child(4) {
  background-color: #bfffff;
}
/* line 275, ../sass/projects.scss */
body.tne .styleguide .four ul li:nth-child(5) {
  background-color: #d9ffff;
}

/*   */
/*   */
/* line 53, ../sass/projects.scss */
.node-imr {
  border-top: 2px solid #e25025;
}
/* line 56, ../sass/projects.scss */
.node-imr .field-name-field-project {
  background-color: #e25025;
}

/* line 62, ../sass/projects.scss */
body.imr a:link,
body.imr a:visited {
  color: #e25025;
}
/* line 67, ../sass/projects.scss */
body.imr a[href]:hover,
body.imr a[href]:focus {
  color: #bb3e19;
  text-decoration: underline;
}
/* line 73, ../sass/projects.scss */
body.imr a[href]:active {
  color: #8e2f13;
}
/* line 78, ../sass/projects.scss */
body.imr [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 83, ../sass/projects.scss */
body.imr [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 87, ../sass/projects.scss */
body.imr nav.global {
  box-shadow: 0px 3px #ee987f;
  border-bottom: 3px solid #e25025;
}
/* line 92, ../sass/projects.scss */
body.imr footer#footer {
  border-top: 3px solid #e7714e;
  box-shadow: 0px -3px #eb8669;
}
/* line 97, ../sass/projects.scss */
body.imr [role="complementary"] {
  background-color: #f0fdec;
}
/* line 100, ../sass/projects.scss */
body.imr [role="complementary"] header {
  background-color: #d5f8c9;
}
/* line 107, ../sass/projects.scss */
body.imr .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-imr.svg?1446649989');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}
/* line 118, ../sass/projects.scss */
body.imr.front .timerangeheader {
  background-color: #333333;
}
@media (min-width: 50.0625em) {
  /* line 122, ../sass/projects.scss */
  body.imr.front .field-name-field-spokes {
    border-left: 1px solid #eb8669;
  }
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 122, ../sass/projects.scss */
  body.imr.front .field-name-field-spokes {
    border-left: 4px solid #eb8669;
    padding-left: 7px;
    margin-top: 20px;
  }
}
/* line 135, ../sass/projects.scss */
body.imr.front .featured-more header {
  border-top: 1px solid #e7714e;
}
/* line 61, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]:-moz-placeholder, body.imr input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]::-moz-placeholder, body.imr input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]:-ms-input-placeholder, body.imr input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.imr input[type="search"]::-webkit-input-placeholder, body.imr input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 148, ../sass/projects.scss */
body.imr .pager a:active {
  color: #fff;
  background-color: #e25025;
}
/* line 165, ../sass/projects.scss */
body.imr .styleguide {
  color: #5F4C16;
}
/* line 168, ../sass/projects.scss */
body.imr .styleguide li {
  padding: 5px;
}
/* line 172, ../sass/projects.scss */
body.imr .styleguide .primary {
  background-color: #e25025;
}
/* line 175, ../sass/projects.scss */
body.imr .styleguide .primary h1 {
  background-color: #e25025;
  color: #5F4C16;
}
/* line 181, ../sass/projects.scss */
body.imr .styleguide .primary ul li:nth-child(1) {
  background-color: #e25025;
}
/* line 185, ../sass/projects.scss */
body.imr .styleguide .primary ul li:nth-child(2) {
  background-color: #e97c5c;
}
/* line 189, ../sass/projects.scss */
body.imr .styleguide .primary ul li:nth-child(3) {
  background-color: #f1a892;
}
/* line 193, ../sass/projects.scss */
body.imr .styleguide .primary ul li:nth-child(4) {
  background-color: #f8d3c9;
}
/* line 197, ../sass/projects.scss */
body.imr .styleguide .primary ul li:nth-child(5) {
  background-color: #fbe5de;
}
/* line 203, ../sass/projects.scss */
body.imr .styleguide .secondary {
  background-color: #25dce2;
}
/* line 207, ../sass/projects.scss */
body.imr .styleguide .secondary ul li:nth-child(1) {
  background-color: #25dce2;
}
/* line 211, ../sass/projects.scss */
body.imr .styleguide .secondary ul li:nth-child(2) {
  background-color: #5ce5e9;
}
/* line 215, ../sass/projects.scss */
body.imr .styleguide .secondary ul li:nth-child(3) {
  background-color: #92eef1;
}
/* line 219, ../sass/projects.scss */
body.imr .styleguide .secondary ul li:nth-child(4) {
  background-color: #c9f6f8;
}
/* line 223, ../sass/projects.scss */
body.imr .styleguide .secondary ul li:nth-child(5) {
  background-color: #defafb;
}
/* line 229, ../sass/projects.scss */
body.imr .styleguide .tertiary {
  background-color: #7be852;
}
/* line 233, ../sass/projects.scss */
body.imr .styleguide .tertiary ul li:nth-child(1) {
  background-color: #58e225;
}
/* line 237, ../sass/projects.scss */
body.imr .styleguide .tertiary ul li:nth-child(2) {
  background-color: #82e95c;
}
/* line 241, ../sass/projects.scss */
body.imr .styleguide .tertiary ul li:nth-child(3) {
  background-color: #acf192;
}
/* line 245, ../sass/projects.scss */
body.imr .styleguide .tertiary ul li:nth-child(4) {
  background-color: #d5f8c9;
}
/* line 249, ../sass/projects.scss */
body.imr .styleguide .tertiary ul li:nth-child(5) {
  background-color: #e6fbde;
}
/* line 255, ../sass/projects.scss */
body.imr .styleguide .four {
  background-color: #ff6133;
}
/* line 259, ../sass/projects.scss */
body.imr .styleguide .four ul li:nth-child(1) {
  background-color: #ff3a00;
}
/* line 263, ../sass/projects.scss */
body.imr .styleguide .four ul li:nth-child(2) {
  background-color: #ff6b40;
}
/* line 267, ../sass/projects.scss */
body.imr .styleguide .four ul li:nth-child(3) {
  background-color: #ff9d80;
}
/* line 271, ../sass/projects.scss */
body.imr .styleguide .four ul li:nth-child(4) {
  background-color: #ffcebf;
}
/* line 275, ../sass/projects.scss */
body.imr .styleguide .four ul li:nth-child(5) {
  background-color: #ffe1d9;
}

/*   */
/*   */
/* line 53, ../sass/projects.scss */
.node-int {
  border-top: 2px solid #782A71;
}
/* line 56, ../sass/projects.scss */
.node-int .field-name-field-project {
  background-color: #782A71;
}

/* line 62, ../sass/projects.scss */
body.int a:link,
body.int a:visited {
  color: #782A71;
}
/* line 67, ../sass/projects.scss */
body.int a[href]:hover,
body.int a[href]:focus {
  color: #521d4d;
  text-decoration: underline;
}
/* line 73, ../sass/projects.scss */
body.int a[href]:active {
  color: #2c102a;
}
/* line 78, ../sass/projects.scss */
body.int [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 83, ../sass/projects.scss */
body.int [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 87, ../sass/projects.scss */
body.int nav.global {
  box-shadow: 0px 3px #bf49b5;
  border-bottom: 3px solid #782A71;
}
/* line 92, ../sass/projects.scss */
body.int footer#footer {
  border-top: 3px solid #9a3691;
  box-shadow: 0px -3px #b13ea6;
}
/* line 97, ../sass/projects.scss */
body.int [role="complementary"] {
  background-color: #f1f1e8;
}
/* line 100, ../sass/projects.scss */
body.int [role="complementary"] header {
  background-color: #ddddca;
}
/* line 107, ../sass/projects.scss */
body.int .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-int.svg?1446649989');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}
/* line 118, ../sass/projects.scss */
body.int.front .timerangeheader {
  background-color: #333333;
}
@media (min-width: 50.0625em) {
  /* line 122, ../sass/projects.scss */
  body.int.front .field-name-field-spokes {
    border-left: 1px solid #b13ea6;
  }
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 122, ../sass/projects.scss */
  body.int.front .field-name-field-spokes {
    border-left: 4px solid #b13ea6;
    padding-left: 7px;
    margin-top: 20px;
  }
}
/* line 135, ../sass/projects.scss */
body.int.front .featured-more header {
  border-top: 1px solid #9a3691;
}
/* line 61, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]:-moz-placeholder, body.int input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]::-moz-placeholder, body.int input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]:-ms-input-placeholder, body.int input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.int input[type="search"]::-webkit-input-placeholder, body.int input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 148, ../sass/projects.scss */
body.int .pager a:active {
  color: #fff;
  background-color: #782A71;
}
/* line 165, ../sass/projects.scss */
body.int .styleguide {
  color: #5F4C16;
}
/* line 168, ../sass/projects.scss */
body.int .styleguide li {
  padding: 5px;
}
/* line 172, ../sass/projects.scss */
body.int .styleguide .primary {
  background-color: #782A71;
}
/* line 175, ../sass/projects.scss */
body.int .styleguide .primary h1 {
  background-color: #782A71;
  color: #5F4C16;
}
/* line 181, ../sass/projects.scss */
body.int .styleguide .primary ul li:nth-child(1) {
  background-color: #782A71;
}
/* line 185, ../sass/projects.scss */
body.int .styleguide .primary ul li:nth-child(2) {
  background-color: #9a5f95;
}
/* line 189, ../sass/projects.scss */
body.int .styleguide .primary ul li:nth-child(3) {
  background-color: #bc95b8;
}
/* line 193, ../sass/projects.scss */
body.int .styleguide .primary ul li:nth-child(4) {
  background-color: #ddcadc;
}
/* line 197, ../sass/projects.scss */
body.int .styleguide .primary ul li:nth-child(5) {
  background-color: #ebdfea;
}
/* line 203, ../sass/projects.scss */
body.int .styleguide .secondary {
  background-color: #55782a;
}
/* line 207, ../sass/projects.scss */
body.int .styleguide .secondary ul li:nth-child(1) {
  background-color: #55782a;
}
/* line 211, ../sass/projects.scss */
body.int .styleguide .secondary ul li:nth-child(2) {
  background-color: #809a5f;
}
/* line 215, ../sass/projects.scss */
body.int .styleguide .secondary ul li:nth-child(3) {
  background-color: #aabc95;
}
/* line 219, ../sass/projects.scss */
body.int .styleguide .secondary ul li:nth-child(4) {
  background-color: #d5ddca;
}
/* line 223, ../sass/projects.scss */
body.int .styleguide .secondary ul li:nth-child(5) {
  background-color: #e6ebdf;
}
/* line 229, ../sass/projects.scss */
body.int .styleguide .tertiary {
  background-color: #9e9d37;
}
/* line 233, ../sass/projects.scss */
body.int .styleguide .tertiary ul li:nth-child(1) {
  background-color: #78772a;
}
/* line 237, ../sass/projects.scss */
body.int .styleguide .tertiary ul li:nth-child(2) {
  background-color: #9a995f;
}
/* line 241, ../sass/projects.scss */
body.int .styleguide .tertiary ul li:nth-child(3) {
  background-color: #bcbb95;
}
/* line 245, ../sass/projects.scss */
body.int .styleguide .tertiary ul li:nth-child(4) {
  background-color: #ddddca;
}
/* line 249, ../sass/projects.scss */
body.int .styleguide .tertiary ul li:nth-child(5) {
  background-color: #ebebdf;
}
/* line 255, ../sass/projects.scss */
body.int .styleguide .four {
  background-color: #ff33ed;
}
/* line 259, ../sass/projects.scss */
body.int .styleguide .four ul li:nth-child(1) {
  background-color: #ff00e8;
}
/* line 263, ../sass/projects.scss */
body.int .styleguide .four ul li:nth-child(2) {
  background-color: #ff40ee;
}
/* line 267, ../sass/projects.scss */
body.int .styleguide .four ul li:nth-child(3) {
  background-color: #ff80f4;
}
/* line 271, ../sass/projects.scss */
body.int .styleguide .four ul li:nth-child(4) {
  background-color: #ffbff9;
}
/* line 275, ../sass/projects.scss */
body.int .styleguide .four ul li:nth-child(5) {
  background-color: #ffd9fc;
}

/*   */
/*   */
/* line 53, ../sass/projects.scss */
.node-alt {
  border-top: 2px solid #be1e2d;
}
/* line 56, ../sass/projects.scss */
.node-alt .field-name-field-project {
  background-color: #be1e2d;
}

/* line 62, ../sass/projects.scss */
body.alt a:link,
body.alt a:visited {
  color: #be1e2d;
}
/* line 67, ../sass/projects.scss */
body.alt a[href]:hover,
body.alt a[href]:focus {
  color: #921723;
  text-decoration: underline;
}
/* line 73, ../sass/projects.scss */
body.alt a[href]:active {
  color: #661018;
}
/* line 78, ../sass/projects.scss */
body.alt [role="navigation"].main ul.main li {
  font-size: .9em;
}
/* line 83, ../sass/projects.scss */
body.alt [role="banner"] {
  margin: 3.25rem auto 0 auto;
}
/* line 87, ../sass/projects.scss */
body.alt nav.global {
  box-shadow: 0px 3px #e55d69;
  border-bottom: 3px solid #be1e2d;
}
/* line 92, ../sass/projects.scss */
body.alt footer#footer {
  border-top: 3px solid #de2c3d;
  box-shadow: 0px -3px #e24755;
}
/* line 97, ../sass/projects.scss */
body.alt [role="complementary"] {
  background-color: #f3f8e9;
}
/* line 100, ../sass/projects.scss */
body.alt [role="complementary"] header {
  background-color: #dfefc7;
}
/* line 107, ../sass/projects.scss */
body.alt .node-spoke.node-teaser .thumb {
  background: url('../images/default_images/spoke-default-alt.svg?1446649989');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  box-shadow: inset 0px 0px 24px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0px 0px 3px rgba(10, 10, 10, 0.1);
}
/* line 118, ../sass/projects.scss */
body.alt.front .timerangeheader {
  background-color: #333333;
}
@media (min-width: 50.0625em) {
  /* line 122, ../sass/projects.scss */
  body.alt.front .field-name-field-spokes {
    border-left: 1px solid #e24755;
  }
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 122, ../sass/projects.scss */
  body.alt.front .field-name-field-spokes {
    border-left: 4px solid #e24755;
    padding-left: 7px;
    margin-top: 20px;
  }
}
/* line 135, ../sass/projects.scss */
body.alt.front .featured-more header {
  border-top: 1px solid #de2c3d;
}
/* line 61, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]:-moz-placeholder, body.alt input[name="search_block_form"]:-moz-placeholder {
  color: #cccccc;
}
/* line 64, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]::-moz-placeholder, body.alt input[name="search_block_form"]::-moz-placeholder {
  color: #cccccc;
}
/* line 67, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]:-ms-input-placeholder, body.alt input[name="search_block_form"]:-ms-input-placeholder {
  color: #cccccc;
}
/* line 56, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.alt input[type="search"]::-webkit-input-placeholder, body.alt input[name="search_block_form"]::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 148, ../sass/projects.scss */
body.alt .pager a:active {
  color: #fff;
  background-color: #be1e2d;
}
/* line 165, ../sass/projects.scss */
body.alt .styleguide {
  color: #5F4C16;
}
/* line 168, ../sass/projects.scss */
body.alt .styleguide li {
  padding: 5px;
}
/* line 172, ../sass/projects.scss */
body.alt .styleguide .primary {
  background-color: #be1e2d;
}
/* line 175, ../sass/projects.scss */
body.alt .styleguide .primary h1 {
  background-color: #be1e2d;
  color: #5F4C16;
}
/* line 181, ../sass/projects.scss */
body.alt .styleguide .primary ul li:nth-child(1) {
  background-color: #be1e2d;
}
/* line 185, ../sass/projects.scss */
body.alt .styleguide .primary ul li:nth-child(2) {
  background-color: #ce5662;
}
/* line 189, ../sass/projects.scss */
body.alt .styleguide .primary ul li:nth-child(3) {
  background-color: #df8f96;
}
/* line 193, ../sass/projects.scss */
body.alt .styleguide .primary ul li:nth-child(4) {
  background-color: #efc7cb;
}
/* line 197, ../sass/projects.scss */
body.alt .styleguide .primary ul li:nth-child(5) {
  background-color: #f5dde0;
}
/* line 203, ../sass/projects.scss */
body.alt .styleguide .secondary {
  background-color: #1ebe73;
}
/* line 207, ../sass/projects.scss */
body.alt .styleguide .secondary ul li:nth-child(1) {
  background-color: #1ebe73;
}
/* line 211, ../sass/projects.scss */
body.alt .styleguide .secondary ul li:nth-child(2) {
  background-color: #56ce96;
}
/* line 215, ../sass/projects.scss */
body.alt .styleguide .secondary ul li:nth-child(3) {
  background-color: #8fdfb9;
}
/* line 219, ../sass/projects.scss */
body.alt .styleguide .secondary ul li:nth-child(4) {
  background-color: #c7efdc;
}
/* line 223, ../sass/projects.scss */
body.alt .styleguide .secondary ul li:nth-child(5) {
  background-color: #ddf5ea;
}
/* line 229, ../sass/projects.scss */
body.alt .styleguide .tertiary {
  background-color: #9bde31;
}
/* line 233, ../sass/projects.scss */
body.alt .styleguide .tertiary ul li:nth-child(1) {
  background-color: #80be1e;
}
/* line 237, ../sass/projects.scss */
body.alt .styleguide .tertiary ul li:nth-child(2) {
  background-color: #a0ce56;
}
/* line 241, ../sass/projects.scss */
body.alt .styleguide .tertiary ul li:nth-child(3) {
  background-color: #c0df8f;
}
/* line 245, ../sass/projects.scss */
body.alt .styleguide .tertiary ul li:nth-child(4) {
  background-color: #dfefc7;
}
/* line 249, ../sass/projects.scss */
body.alt .styleguide .tertiary ul li:nth-child(5) {
  background-color: #ecf5dd;
}
/* line 255, ../sass/projects.scss */
body.alt .styleguide .four {
  background-color: #ff3346;
}
/* line 259, ../sass/projects.scss */
body.alt .styleguide .four ul li:nth-child(1) {
  background-color: #ff0018;
}
/* line 263, ../sass/projects.scss */
body.alt .styleguide .four ul li:nth-child(2) {
  background-color: #ff4052;
}
/* line 267, ../sass/projects.scss */
body.alt .styleguide .four ul li:nth-child(3) {
  background-color: #ff808c;
}
/* line 271, ../sass/projects.scss */
body.alt .styleguide .four ul li:nth-child(4) {
  background-color: #ffbfc5;
}
/* line 275, ../sass/projects.scss */
body.alt .styleguide .four ul li:nth-child(5) {
  background-color: #ffd9dc;
}

/*   */
/* line 287, ../sass/projects.scss */
body.imr [role="complementary"], body.alt [role="complementary"] {
  background: #dedede;
}
/* line 290, ../sass/projects.scss */
body.imr [role="complementary"] header, body.alt [role="complementary"] header {
  background: #c8c8c8;
}
/* line 294, ../sass/projects.scss */
body.imr [role="complementary"] a.active, body.alt [role="complementary"] a.active {
  position: relative;
  background: #eee;
}
/* line 299, ../sass/projects.scss */
body.imr [role="complementary"] a.active:after, body.alt [role="complementary"] a.active:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #eee;
  border-width: 30px;
  margin-top: -30px;
}

/* line 318, ../sass/projects.scss */
body.int .node-spoke.node-teaser .thumb {
  background-size: 150%;
  background-position-x: -10px;
  background-position-y: -20px;
}
/* line 324, ../sass/projects.scss */
body.int .node-spoke.node-teaser .thumb {
  background-size: 224%;
  background-position-x: 3px;
  background-position-y: -77px;
}

/* line 331, ../sass/projects.scss */
body.imr .node-spoke.node-teaser .thumb {
  box-shadow: inset 0px 0px 25px rgba(10, 10, 10, 0.2);
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
}

/* line 338, ../sass/projects.scss */
body.fieldguide {
  /* on fieldguide, hide all images for now */
}
/* line 361, ../sass/projects.scss */
body.fieldguide .node-spoke.node-teaser .thumb, body.fieldguide .field-name-field-representative-image {
  display: none;
}
/* line 365, ../sass/projects.scss */
body.fieldguide nav.global {
  box-shadow: 0px 3px #b98a00;
  border-bottom: 3px solid #d7a100;
}
/* line 370, ../sass/projects.scss */
body.fieldguide [role="complementary"] {
  background-color: #f5efe1;
}
/* line 373, ../sass/projects.scss */
body.fieldguide [role="complementary"] header {
  background-color: #ece2c5;
}
/* line 379, ../sass/projects.scss */
body.fieldguide .comments article {
  padding: 2.5%;
  border: transparent 1px solid;
}
/* line 383, ../sass/projects.scss */
body.fieldguide .comments article:nth-of-type(odd) {
  background-color: #f5efe1;
}
/* line 387, ../sass/projects.scss */
body.fieldguide .comments article:nth-of-type(even) {
  background-color: #efe7d0;
}
/* line 393, ../sass/projects.scss */
body.fieldguide .logo {
  background-position: 0 0%;
  width: 18rem;
  height: 4.8rem;
  background: url('../images/mc-logos/fieldguidelogo.svg?1448033383');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 0 1em 0;
}
@media (min-width: 15em) and (max-width: 50em) {
  /* line 404, ../sass/projects.scss */
  body.fieldguide .logo {
    width: 16rem;
    height: 2.5rem;
    padding: 0;
    background: url('../images/mc-logos/fieldguidelogo-mobile.svg?1448033383');
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 0;
  }
  /* line 414, ../sass/projects.scss */
  body.fieldguide nav.global {
    box-shadow: none;
    border-bottom: 3px solid #C49A1E;
  }
}
/* line 423, ../sass/projects.scss */
body.fieldguide.front .hubhead .field-name-title h1.hub-title {
  font-size: 37px;
}
/* line 428, ../sass/projects.scss */
body.fieldguide.front .timerangeheader {
  background-color: #8b6800;
}
/* line 434, ../sass/projects.scss */
body.fieldguide.front .field-name-field-spokes .field-item {
  margin-bottom: .5rem;
}

/* line 442, ../sass/projects.scss */
body.front #content {
  width: auto;
  float: none;
}
/* line 448, ../sass/projects.scss */
body.front .hubhead .field-name-title h1.hub-title {
  font-size: 31px;
  padding-top: 0;
  color: #232323;
}
/* line 453, ../sass/projects.scss */
body.front .hubhead .field-name-title h1.hub-title a {
  color: black;
}
@media (min-width: 52.5625em) {
  /* line 460, ../sass/projects.scss */
  body.front .hubhead {
    float: left;
    width: 32%;
  }
}
/* line 472, ../sass/projects.scss */
body.front .view-mode-toc_spoke, body.front .node-spoke.view-mode-teaser {
  border-bottom: 1px solid #c8c8c8;
  border-bottom: none;
  padding: 0 0 .5em;
}
/* line 478, ../sass/projects.scss */
body.front .daterange {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 483, ../sass/projects.scss */
body.front .caption {
  font-size: .7em;
}
/* line 487, ../sass/projects.scss */
body.front .field-name-post-date, body.front .field-name-author {
  margin-left: 0;
  display: block;
  float: left;
}
/* line 493, ../sass/projects.scss */
body.front .thumb {
  min-width: 100px;
}
/* line 497, ../sass/projects.scss */
body.front .field-name-field-body {
  margin-bottom: 1rem;
}
@media (min-width: 52.5625em) {
  /* line 502, ../sass/projects.scss */
  body.front .field-name-field-spokes {
    float: right;
    width: 66%;
    border-left: 1px solid black;
    padding-left: 22px;
  }
}
/* line 539, ../sass/projects.scss */
body.front .timerangeheader {
  padding: 4px;
  background-color: #0C304A;
  background-color: #333;
  font-size: .8rem;
  color: #fff;
  margin-bottom: 1rem;
}
@media (min-width: 52.5625em) {
  /* line 539, ../sass/projects.scss */
  body.front .timerangeheader {
    float: right;
    width: 66%;
    padding: 2px;
    padding-left: .5rem;
  }
}

/* line 557, ../sass/projects.scss */
body .node-hub.view-mode-teaser {
  border-bottom: 1px solid gray;
  padding: 1em 0;
}
/* line 561, ../sass/projects.scss */
body .node-hub.view-mode-teaser:first-child {
  padding: 0 0 1em;
}
/* line 565, ../sass/projects.scss */
body .node-hub.view-mode-teaser:last-child {
  border: none;
}
