$breakpoint-no-query-fallbacks: false;
@import 'toolkit';
@import "compass/";
@import "compass/css3";
@import "compass/css3/deprecated-support";
@import "modular-scale";
@import "color-schemer";
@import 'respond-to';
@import "breakpoint";
//$breakpoint-legacy-syntax: true;
@import "partials/_browsers";
@import "partials/_colors";
@import "partials/_mixins";
@import "partials/_extendables";
@import "partials/_functions";
// Reset 
//@import "compass-pattern-primer";
@import "_config";
@import "layout/_reset";
@import "base/page/_page";
@import "base/forms/_forms";
@import "base/webfonts/_webfonts";
@import "base/typography/_typography";
@import "base/links/_links";
@import "base/forms/_forms";
@import "base/buttons/_buttons";
@import "base/search/_search";
// optional module imports. comment out ones you don't use
@import "modules/pagination/_pagination";
@import "modules/controls/_controls";
@import "modules/feedback/_feedback";
@import "modules/options/_options";
@import "modules/field/_field";
@import "layout/breakpoints/_breakpoints";

@import "modules/homepagesChannels/_homepagesChannels";
@import "modules/icons/_icons";
@import "modules/global_nav/_global_nav";
@import "modules/header/_header";
@import "modules/user_nav/_user_nav";
@import "modules/main_nav/_main_nav";
@import "modules/searchresults/_searchresults";
@import "modules/searchresults/_facets";
@import "modules/content/_content";
@import "modules/taxonomies/_taxonomies";
@import "modules/sub_nav/_sub_nav";
@import "modules/footer/_footer";
@import "modules/tabs/_tabs";
@import "modules/comments/_comments";
@import "modules/sidebars/_sidebars";
// @import "modules/search/_search";
@import "modules/hub_list/_hub_list";
@import "modules/teasers/_spoke_teaser";
@import "modules/embedded_video/_embedded_video";
@import "modules/user_profile/_user_profile";
@import "modules/registration/registerlogin";
@import "layout/_page";
@import "layout/_spoke";
@import "layout/_user_profile";


@import "projects/projects";
@import "projects/mc";
@import "projects/int";
@import "projects/alt";
@import "projects/fieldguide";
@import "projects/tne";
@import "projects/imr";
@import "modules/homepage/_homepageUmbrella";
@import "_bandaids";
.view-list-of-all-hubs,
.hubhead {
  img[src *="default_images"] {
    display: none !important;
    height: 0;
  }
}


// Skip to main content
#skip-link {
  transition: all .5s;
  background-color: white;
  left: 30px;
  &:active,
  &:focus {
    position: absolute !important;
    padding: 20px;
    border: 4px solid #196195;
    @extend %shadow-material-design;
    z-index: 1000;
  }
}