@import "toolkit";
@import "toolkit/colors";
@import "color-schemer";

/// homepage -- hub -- credits under title
$homepage-credits: 0.75rem !default;

$map: (mc: #196195, tne: #1db7b7, imr: #e25025, int: #782A71, alt: #be1e2d);
$black-value: #333333;
$black: tint-stack($black-value);
$type-color-value: #232323;
$type-color: tint-stack($type-color-value);

@each $header, $col in $map {
    /*   */
    $primary-color: $col;
    $cs-primary: $primary-color !global;
    // Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
    $cs-scheme: tetrad !global;
    // Options: mono, complement, triad, tetrad, analogic, accented-analogic
    $cs-hue-offset: 20 !global;
    // Options: 0-100;
    $cs-brightness-offset: 0 !global;
    // Options: 0-100;
    $cs-color-model: ryb !global;
    $primary: tint-stack(cs-primary());
    $secondary: tint-stack(cs-secondary());
    $tertiary: tint-stack(cs-tertiary());
    body.#{$header} {
        a:link,
        a:visited {
            color: $col;
        }
        a[href]:hover,
        a[href]:focus {
            color: darken($col, 10%);
            text-decoration: underline;
        }
        a[href]:active {
            color: darken($col, 20%);
        }
        // .logo , h1 , h2 , h3  {
        //   color: darken($col, 10%);
        // }
        [role="navigation"].main ul.main {
            //border-bottom: 1px solid nth($black, 3);
            // border-top: 1px solid nth($black, 3);
            li {
                font-size: .9em;
            }
        }
        [role="complementary"] {
            background-color: lighten(nth($tertiary, 5), 3%);
            header {
                background-color: nth($tertiary, 4);
            }
        }
    }
    /*   */
}

body.imr.front {
    #content {
        width: auto;
        float: none;
    }
    .hubhead {
        float: left;
        width: 38%;
        .field-name-title h2 {
            font-size: 39px;
            padding-top: 0;
            color: nth($type-color, 1);
        }
    }
    .node-hub {
        //border-top: 1px solid nth($type-color, 3);
   
    }
    .view-mode-toc_spoke, .node-spoke.view-mode-teaser {
        border-bottom: 1px solid nth($type-color, 4);
        border-bottom: none;
        padding: 0 0 .3em;
    }
    .daterange {
        font-weight: bold;
        text-transform: uppercase;
    }
    .caption {
        font-size: .7em;
    }
    .field-name-post-date {
        // display: none;
        margin-left: 0;
        display: inline-block;
    }
    .field-name-author {
        margin-left: 0;
        display: inline-block;
    }
    .thumb {
        min-width: 100px;
        background-color: black;
    }
    .field-name-field-body {
        font-size: $homepage-credits;
    }
    .field-name-field-spokes {
        float: right;
        width: 60%;
        // .node-spoke:nth-child(1) {
        //     .thumb::before {
        //         content: "Monday";
        //     }
        // }
        // .node-spoke:nth-child(2) {
        //     &::before {
        //         content: "Tuesday";
        //     }
        // }
        // .node-spoke:nth-child(3) {
        //     &::before {
        //         content: "Wednesday";
        //     }
        // }
        // .node-spoke:nth-child(4) {
        //     &::before {
        //         content: "Thursday";
        //     }
        // }
        // .node-spoke:nth-child(5) {
        //     &::before {
        //         content: "Friday";
        //     }
        // }
   
    }
}

body.imr {
    .node-hub.view-mode-teaser {
        border-bottom: 1px solid gray;
        padding: 1em 0;
    }
}
