//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////

body.meco {
    header, article, footer {
        a {
            color: nth($mc-blue, 1) !important;
            // FOR PROFILE PAGE DEMO ONLY
       
        }
    }
    input[type="search"] {
        @include input-placeholder {
            color: nth($mc-blue, 2);
            // FOR PROFILE PAGE DEMO ONLY
        }
    }
    @include respond-to("full navigation") {
        [role="complementary"] {
            float: right;
            max-width: ms(12);
        }
        .profile aside {
            background-color: nth($mc-blue, 3);
            // FOR PROFILE PAGE DEMO ONLY
            > h2 {
                background: nth($mc-blue, 1);
                // FOR PROFILE PAGE DEMO ONLY
           
            }
        }
    }
}

.view-user-search ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    .field-user-avatar {
        float: left;
        margin-left: 0;
    }
}

.view-user-search li {
    width: auto;
    overflow: hidden;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    text-indent: 0;
    img {
        @extend %user-photo-treatment-teaser;
    }
    .roles {
        text-transform: uppercase;
        font-size: .7em;

    }
    .p-name , .roles{
         // margin-left: 4rem;
         display: block;
         // background-color: red;
    }
     .p-job-title, .h-adr, .p-org {
       // background-color: blue;
         display: inline-block;
        
    }
}