body.fieldguide {
  $fg_primary: map-get($map, fieldguide);
  $fg_neutral: $fg_primary;
  // : $fg_primary;
  $cs-primary: $fg_primary !global;
  // Options: mono, complement, triad, tetrad, analogic, accented-analogic
  $cs-scheme: complement !global;
  $cs-hue-offset: 20 !global;
  // Options: 0-100;
  $cs-brightness-offset: 100 !global;
  // Options: 0-100;
  $cs-color-model: ryb !global;
  $primary: tint-stack(cs-primary()) !global;
  $neutral-tint-stack: tint-stack($fg_neutral) !global;
  $secondary: tint-stack(cs-secondary()) !global;
  $tertiary: tint-stack(cs-tertiary()) !global;
  $quadrary: tint-stack(cs-quadrary()) !global;
  /* on fieldguide, hide all images for now */
  .node-spoke.node-teaser .thumb,
  .field-name-field-representative-image {
    display: none;
  }
  &.front .hub-title {
    font-size: 2rem;
  }
  nav.global {
    box-shadow: 0px 3px #b98a00;
    border-bottom: 3px solid #d7a100;
  }
  [role="complementary"] {
    header {
      background-color: lighten(set-saturation(nth($primary, 4), 50%), 3%);
    }
    > div,
    .block {
      background-color: lighten(set-saturation(nth($primary, 5), 50%), 3%);
    }
    header {
      //    background-color: nth($tertiary, 4);
    }
  }
  .comments {
    article {
      padding: 2.5%;
      border: transparent 1px solid;
      &:nth-of-type(odd) {
        background-color: lighten(set-saturation(nth($neutral-tint-stack, 5), 50%), 3%);
      }
      &:nth-of-type(even) {
        background-color: lighten(set-saturation(nth($neutral-tint-stack, 4), 50%), 6%);
      }
    }
  }
  .logo {
    background-position: 0 0%;
    width: 18rem;
    height: 4.8rem;
    background: image-url("mc-logos/fieldguidelogo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 0 1em 0;
  }
  @include respond-to("narrow navigation") {
    .logo {
      width: 16rem;
      height: 2.5rem;
      padding: 0;
      background: image-url("mc-logos/fieldguidelogo-mobile.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      margin-bottom: 0;
    }
    nav.global {
      box-shadow: none;
      border-bottom: 3px solid #C49A1E;
    }
  }
  &.front {
    .hubhead {
      .field-name-title h1.hub-title {
        font-size: 37px;
      }
    }
    .timerangeheader {
      > * {
        // background-color: lighten(set-saturation(nth($primary, 4), 50%), 1%);
        // background-color: #D7A100;
        // color: #111111;
        padding: 3px 29px;
      }
    }
    .field-name-field-spokes {
      // border-left: 1px solid lighten($fg_primary, 15%);
      // background-color: lighten(set-saturation(nth($neutral-tint-stack, 5), 50%), 3%);
      .field-item {
        margin-bottom: .5rem;
      }
    }
  }
  .view-list-of-all-hubs {
    .group-flex1 {
      display: none;
    }
  }
  .node-spoke.node-teaser {
    border-bottom: none;
    padding-bottom: .5rem;
  }
}
