 $fg_primary: map-get($map, imr);
 $neutral_stack: tint-stack(#333333) !global;
 $spoke-default-thumb: "default_images/spoke-default-imr.svg";
 body.imr {
   #contentwide {
     .hub-title {
       font-size: 2rem;
       max-width: 90%;
     }
     .featured-item {
       -webkit-flex: 1 1 100%;
       flex: 1 1 100%;
       margin: 1% 0;
       @include respond-to("tablet-lh") {
         -webkit-flex: 0 1 49%;
         flex: 0 1 49%;
       }
       @include respond-to("desktop-lh") {
         -ms-flex: 0 1 32%;
         -webkit-flex: 0 1 32%;
         flex: 0 1 32%;
       }
     }
     .node-hub {
       &.view-mode-full {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         .hubhead {
           flex: 1 1 49%;
           min-width: 389px;
           @media (min-width: 800px) {
             padding-right: 2%
           }
         }
         .homehub-spokes {
           flex: 1 1 49%;
           @media (max-width: 799px) {
             border-top: none !important;
             margin-top: 20px;
           }
           @media (min-width: 800px) {
             border-top: 2px solid #e25025;
           }
         }
       }
     }
     .hubhead .field-name-field-period {
       display: none;
     }
     time.date-display-range {
       background-color: #e25025;
       padding: 1px 15px 1px 10px;
       color: white;
       // margin-left: -10px;
       float: left;
     }
     .spokes {
       clear: left;
       margin-top: 25px;
     }
   }
   .node-spoke.node-teaser {
     border-bottom: none;
     padding-bottom: 0;
     .thumb {
       box-shadow: inset 0px 0px 25px rgba(10, 10, 10, 0.2);
       background-size: 100%;
       background-position-x: 0px;
       background-position-y: 0px;
       img {
         border: 1px solid #ddd;
         width: 80px;
         height: 60px;
       }
     }
   }
   [role="complementary"] {
     > div,
     .block {
       background-color: lighten(nth($neutral_stack, 5), 3%);
     }
     header {
       background-color: nth($neutral_stack, 4);
     }
   }
   .field-name-field-representative-image {
     background: image-url($spoke-default-thumb);
     background-repeat: no-repeat;
     background-size: cover;
     background-position-y: center;
     border: 1px solid #e5e4e4;
   }
 }