  $int_primary: map-get($map, int);
  $primary-color: $int_primary;
  $cs-primary: $primary-color;
  // Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
  $cs-scheme: triad;
  // Options: mono, complement, triad, tetrad, analogic, accented-analogic
  $cs-hue-offset: 20;
  // Options: 0-100;
  $cs-brightness-offset: 0;
  // Options: 0-100;
  $cs-color-model: ryb;
  $primary: tint-stack(cs-primary()) !global;
  $secondary: tint-stack(cs-secondary()) !global;
  $tertiary: tint-stack(cs-tertiary()) !global;
  body.int {
    &.front {
      .field-name-field-body {
        display: none;
      }
      header.hubhead {
        position: relative;
        .peoplelist {
          display: none;
        }
      }
      .hub-title {
        position: absolute;
        top: 10px;
        left: 10px;
        padding:4px;
        line-height: 1.5;
        a {
          background-color: rgba(255, 255, 255, .8);
        }
      }
      .featured-item {
       background-color: nth($tertiary, 4);
      }
    }
    .node-hub.view-mode-teaser .field-name-field-body {
      display: none;
    }
    time,
    .date-display-range {
      display: none !important;
    }
    .comment time {
      display: block !important;
    }
    .node-spoke.node-teaser .thumb {
      background-size: 150%;
      background-position-x: -10px;
      background-position-y: -20px;
    }
    .node-spoke.node-teaser .thumb {
      background-size: 224%;
      background-position-x: 3px;
      background-position-y: -77px;
    }
  }