$fg_primary: map-get($map, mc);
$mc-logo: "mc-logos/mc.svg";
body.mc {
  [role="banner"] {
    margin: 3.25em auto 3rem;
    max-width: 84rem;
    .logo {
      background-image: image-url($mc-logo);
      background-size: contain;
      width: 22.5rem;
      height: 4.4rem;
    }
  }
  footer#footer {
    max-width: 84rem;
    margin: 3em auto 0;
  }
  @include respond-to("narrow navigation") {
    [role="banner"] {
      margin: 3.25em auto 1rem;
      h1 {
        margin-left: 3%;
      }
      .logo {
        width: 60vw;
        max-width: 700px;
        min-width: 220px;
        height: 4rem;
      }
    }
  }
}