  $spoke-default-thumb: "default_images/spoke-default-int.svg";
  body.tne {
    #block-views-mc-recent-comments-block .blockheader {
      div:after {
        content: " on TNE";
      }
    }
    .node-hub.node-teaser .field-name-field-representative-image {
      background: image-url($spoke-default-thumb);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }