//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$inline-fonts: false; 
$font-weight: normal !default;
$font-style: normal !default;

$body-font-name: 'Droid Serif';
$body-bold-font-name: $body-font-name;
$body-italic-font-name: $body-font-name;
$body-bold-italic-font-name: $body-font-name;

$heading-font-name: 'Droid Sans';
$heading-bold-font-name: $heading-font-name;

// Offline Fonts name and file name
//  $body-font-name: 'DroidSerifRegular';
//  $body-font-file-name: 'DroidSerif/DroidSerif-Regular-webfont';
//
//  $body-bold-font-name: 'DroidSerifBold';
//  $body-bold-font-file-name: 'DroidSerif/DroidSerif-Bold-webfont';
//  $body-bold-font-weight: 700;
//
//  $body-italic-font-name: 'DroidSerifItalic';
//  $body-italic-font-file-name: 'DroidSerif/DroidSerif-Italic-webfont';
//  $body-italic-font-style: italic;
//
//  $body-bold-italic-font-name: 'DroidSerifBoldItalic';
//  $body-bold-italic-font-file-name: 'DroidSerif/DroidSerif-BoldItalic-webfont';
//  $body-bold-italic-font-weight: 700;
//  $body-bold-italic-font-style: italic;
//
//  $heading-font-name: 'DroidSansRegular';
//  $heading-font-file-name: 'DroidSans/DroidSans-webfont';
//
//  $heading-bold-font-name: 'DroidSansBold';
//  $heading-bold-font-file-name: 'DroidSans/DroidSans-Bold-webfont';
//  $heading-bold-font-weight: 700;    
