//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_links_variables";

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  @include border-outline(border, $link-border-width, $link-border-style, $link-border-color);
  &:link,
  &:visited {
    color: $link-visited-link-color;
    @include border-outline(border, $link-visited-border-width, $link-visited-border-style, $link-visited-border-color);
  }
  &[href]:hover,
  &[href]:focus {
    color: $link-hover-link-color;
    text-decoration: $link-hover-text-decoration;
    @include border-outline(border, $link-hover-border-width, $link-hover-border-style, $link-hover-border-color);
  }
  &:active {
    color: $link-active-link-color;
    @include border-outline(border, $link-active-border-width, $link-active-border-style, $link-active-border-color);
  } 
  .logo &, h1 &, h2 &, h3 & {
    color: $headers-link-color;
    @include border-outline(border, $logo-headers-border-width, $logo-headers-border-style, $logo-headers-border-color);
  }
  &:focus {
   // background: yellow;
 background: transparent;
    outline: none;
  }
}

// .in_transition a {
//   color: $link-color-int;
//   text-decoration: $link-text-decoration;
//   @include border-outline(border, $link-border-width, $link-border-style, $link-border-color-int);
//   &:link,
//   &:visited {
//     color: $link-visited-link-color-int;
//     @include border-outline(border, $link-visited-border-width, $link-visited-border-style, $link-visited-border-color-int);
//   }
//   &[href]:hover,
//   &[href]:focus {
//     color: $link-hover-link-color-int;
//     text-decoration: $link-hover-text-decoration;
//     @include border-outline(border, $link-hover-border-width, $link-hover-border-style, $link-hover-border-color-int);
//   }
//   &:active {
//     color: $link-active-link-color-int;
//     @include border-outline(border, $link-active-border-width, $link-active-border-style, $link-active-border-color-int);
//   } 
//   .logo &, h1 &, h2 &, h3 & {
//     color: $headers-link-color-int;
//     @include border-outline(border, $logo-headers-border-width, $logo-headers-border-style, $logo-headers-border-color-int);
//   }
//   &:focus {
//     background: yellow;
//     outline: none;
//   }
// }