/*  Flexslider needs to have the flexslider JS library installed in 
sites/all/libraries in order to work. 
*/
.front #content {
    // width: 100%;
}
.flexslider {
    border: 0;
}
ul.slides {
    //position: relative;
    .flex-caption {
        position: absolute;
        padding: 5px;
        background-color: white;
        color: black;
        top: 20px;
        a {
            color: black;
            display: block;
        }
    }
    .field-name-field-project {
        > div {
            display: inline-block;
        }
        .field-label {
            text-transform: uppercase;
        }
    }
    li {
        position: relative;
    }
    img {
        width: 100% !important;
        height: auto !important;
    }
    .group-meta {
        position: absolute;
        top: 10px;
        left: 15px;
      //  background-color: rgba(255, 255, 255, 0.95);
        //background-color: white;
        color: black;
        width: 80%;
        // border-top: 4px solid #e57f57;
        // border-bottom: 4px solid #e57f57;
        //border-top: 2px solid black;
       // border-bottom: 2px solid black;
        transition: all 0.5s ease;
    }
    .field-item {
        background-color: rgba(255, 255, 255, 0.9);
         display: inline-block;
         padding: 5px 5px;
         margin-bottom: 5px;
    }
    .field-name-field-project {
       // margin: 10px 20px 5px;
        font-size: .7rem;
        line-height: 1.2;
        color: black;
         &::before { 
            //content: "Project: "
         }
    }
    .field-name-field-subtitle {
        //margin: 5px 20px 10px;
        font-size: 1.5em;
        font-size: .9rem;
        
    }
    .field-name-field-link {
       // margin: 5px 20px 5px;
        font-size: 1.5rem;
        line-height: 1.2;
        a:link, a:visited {
            color: #111 !important;
           
        }
       
    }
    .field-name-field-body {
        // margin: 10px 20px;
        font-size: .9rem;
        line-height: 1.4;
        
    }
}

.flex-control-thumbs li {
    position: relative;
    .flex-caption {
        // margin-top: -30px;
        position: absolute;
        color: black;
        bottom: 0px;
        display: block;
        pointer-events: none;
        color: black;
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
    }
}