//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////
footer#footer {
  padding: 2em;
  text-align: center;
  display: block;
  .powered {
    font-size: .8em;
  }
  ul[role=menu],
  ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li,
    li:first-child {
      text-indent: 0;
      display: inline;
      margin: 0;
      a {
        padding: 0 .5em;
      }
    }
  }
}

body.mc .extras {
  span {
    display: inline-block;
    line-height: 1.5;
    &:not(:last-child):after {
      content: " | "
    }
  }
}

.cc-info {
  font-size: .9rem;
  color: #555 !important;
  a:link,
  a:visited {
    color: #555 !important;
  }
  .cc-license::before {
    padding: 0 2px 0 4px;
    display: inline-block;
    font-size: 1rem;
  }
}