//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

footer#footer {
  border-top: 1px solid nth($black, 1);
  padding: 2em;
  margin-top: 4em;
  text-align: center;
  display:block;
  .powered {
    font-size: .8em;
  }
  ul[role=menu], ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li, li:first-child {
      text-indent: 0;
      display: inline;
      margin: 0;
      a {
        padding: 0 .5em;
      }
    }
   
  }
}