//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

[role="article"].spoke {
  > header {
    margin: 0 0 1em 0;
    h1 {
      margin: .5em 0 .33em 0;
    }
  }
}