//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

.comments {
    margin-bottom: 2em;
    article {
        padding: 0 2.5%;
        border: transparent 1px solid;
        &:nth-of-type(odd) {
            background: nth($secondary, 5);
        }
        &:nth-of-type(even) {
            background: nth($secondary, 4);
        }
    }
    h3 + time {
        margin-top: 1em;
    }
    .form-wrap {
        margin: 1em;
    }
    .comment-form {
        input#edit-subject {
            width: 100%;
        }
        span.form-required {
            display: none;
        }
        fieldset.filter-wrapper {
            border: none;
        }
        .filter-guidelines {
            display: none;
        }
        .filter-help {
            padding: 0;
        }
        .filter-help a {
            padding: 0 20px 0 0;
            width: 20px;
            overflow: hidden;
            display: block;
            text-indent: -2000em;
            height: 20px;
        }
        .form-type-select {
            padding: 0;
        }
    }
}

.view-mc-recent-comments {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        width: auto;
        overflow: hidden;
        padding: .5rem .5rem .5rem 0rem;
        font-size: .7rem;
        line-height: 1.2;
        display: block;
        .views-field-subject {
            font-size: .8rem;
            margin-bottom: .2rem;
        }
        .views-field-name {
            display: inline-block;
            .p-name {
                display: inline-block;
                &:before {
                    content: "\20\2014\20";
                    // mdash encoded http://css-tricks.com/snippets/html/glyphs/
               
                }
            }
        }
        .views-field-timestamp {
            display: inline-block;
        }
        p {
            margin: .4rem 0;
            line-height: 1.4;
        }
    }
}