//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

.comments {
    margin-bottom: 2em;
    line-height: 1.2;
    .title {
        @include bold-italic-uppercase-variant($h2-font-bold, $h2-font-italic, $h2-font-uppercase, $h2-font-variant);
        @include type-size($h2-font-size, $h2-line-height);
        color: $h2-color;
        margin-bottom: .5em;
    }
    .comments__form-title {
        margin-top: 2em;
    }
    article {
        padding: 2.5%;
        border: transparent 1px solid;
        &:nth-of-type(odd) {
            background: nth($secondary, 5);
        }
        &:nth-of-type(even) {
            background: nth($secondary, 4);
        }
    }
    h3 {
        margin: 0;
        padding: 0;
        @include type-size($h3-font-size, $h3-line-height);
        @include margin-padding(padding, $h3-padding, $h3-padding-pos);
        @include margin-padding(margin, $h3-margin, $h3-margin-pos);
        color: $h3-color;
    }
    h3 + time {
        margin: .5em 0 .4em;
    }
    .field-name-comment-body {
        line-height: 1.3;
    }
    .nameHolder, .p-org {
        display: inline-block;
        padding-top: 1em;
    }
    .form-wrap {
        margin: 1em 0;
    }
    .h-card {
        padding: 0;
    }
    p {
        margin: .6em 0 0;
    }
    .indented {
        margin-left: 35px;
    }
    .comment-form {
        input#edit-subject {
            width: 100%;
        }
        span.form-required {
            display: none;
        }
        fieldset.filter-wrapper {
            border: none;
        }
        .filter-guidelines {
            display: none;
        }
        .filter-help {
            padding: 0;
        }
        .filter-help a {
            padding: 0 20px 0 0;
            width: 20px;
            overflow: hidden;
            display: block;
            text-indent: -2000em;
            height: 20px;
        }
        .form-type-select {
            padding: 0;
        }
    }
}

ul.links.inline li {
    float: left;
}

#block-views-comments-recent-block .item-list {
    padding: .5rem 1rem;
    header {
        background-color: inherit;
        padding: 0;
        font-size: .8rem;
    }
    > ul > li {
        border-bottom: 1px solid gray;
    }
    .title-commented-upon {
        font-size: .8rem;
        margin-top: 1rem;
    }
    .field-name-comment-body {
        line-height: 1.3;
        font-size: .8rem;
    }
    time {
        span {
            font-size: inherit;
            display: inline;
        }
    }
    .h-card {
        padding: 0;
        span {
            font-size: inherit;
            display: inline;
        }
    }
}

.view-mc-recent-comments {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        width: auto;
        overflow: hidden;
        padding: .5rem .5rem .5rem 0rem;
        font-size: .7rem;
        line-height: 1.2;
        display: block;
        .views-field-subject {
            font-size: .8rem;
            margin-bottom: .2rem;
        }
        .views-field-name {
            display: inline-block;
            .p-name {
                display: inline-block;
                &:before {
                    content: "\20\2014\20";
                    // mdash encoded http://css-tricks.com/snippets/html/glyphs/
               
                }
            }
        }
        .views-field-timestamp {
            display: inline-block;
        }
        p {
            margin: .4rem 0;
            line-height: 1.4;
        }
    }
}