<div class="view-content">
    <ul>
        <li style="margin-bottom:15px; font-size:.9rem">ISSN 2469-4312</li>
    </ul>
    <div class="icons-hold">
        <div class="connect-icon1" style="margin-right:15px; float:left; min-width:80px"> <a href="https://twitter.com/inTransitionCMS" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">&nbsp;</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="connect-icon1" style="height:28px; width: 28px; margin-right:15px; float:left">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                <path id="Blue_1_" fill="#3D5A98" d="M26.5,28c0.9,0,1.5-0.7,1.5-1.5V1.5C28,0.7,27.3,0,26.5,0H1.5C0.7,0,0,0.7,0,1.5v24.9
	C0,27.3,0.7,28,1.5,28H26.5z" />
                <path id="f" fill="#FFFFFF" d="M19.3,28V17.2H23l0.5-4.2h-4.2v-2.7c0-1.2,0.3-2.1,2.1-2.1l2.2,0V4.4c-0.4-0.1-1.7-0.2-3.3-0.2
	c-3.2,0-5.4,2-5.4,5.6v3.1h-3.6v4.2H15V28H19.3z" />
            </svg>
        </div>
        <div class="connect-icon2">
            <a href="https://groups.google.com/forum/#!forum/intransition-announcements" target="_blank" style="background-color: #2A9B40; padding: 5px 8px 2px; border-radius: 4px;color: white; font-size: .8rem;  letter-spacing: .5px;     height: 28px; display: inline-block;">Subscribe</a>
        </div>
    </div>
</div>