//////////////////////////////
// VARIABLES: For Modules  
//////////////////////////////

$globalnav-height: (.875em * 2.2);

$globalnav-background-gradient-start: darken(nth($mc-blue, 1), 3%); 
$globalnav-background-gradient-end: darken(nth($mc-blue, 1), 9%);

$globalnav-top-pad: .3em;