//////////////////////////////
// SUB-MODULES: Component styles that are layout independent 
//////////////////////////////

[role="banner"] {
    h1 {
        display: block;
        float: left;
        font-size: 1.8em;
        line-height: 1em;
        margin: 0;
        a {
            color: #333333;
        }
        span {
            @extend %element-invisible;
        }
    }
}

/* to prevent the logo from disappearing due to override */
.logo:focus, .logo:hover {
  
    -webkit-filter: saturate(1.3);
}

.logo {
    max-width: 100%;
    // padding: 16% 0 5% 0;
    height: 4.4rem;
    display: block;
    margin: 0 0 1em 0;
    background: image-url("mc-logos/mediacommons-logos-full.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10em;
    .mc.front & {
        width: 12em;
    }
    .no-svg & {
        // png fallback Note: relies on modernizer svg test
        // background-image: image-url("mc-logos/mediacommons-logos.png");
   
    }
    body.mc & {
        background-position: 0 0%;
    }
    body.fieldguide & {
        background-position: 0 100%;
    }
    body.imr & {
        background-position: 0 17%;
        height: 4.7rem;
        padding: 0;
    }
    body.tne & {
        background-position: 0 39%;
    }
    body.alt & {
        background-position: 0 59%;
    }
    body.int & {
        background-position: 0 79%;
    }
}

[role="banner"] {
    @include respond-to("narrow navigation") {
        h1 {
            position: absolute;
            left: 2.5em;
            // needs to lie on top of project nav and search dropdowns
            z-index: 1000;
        }
        .logo {
            background: image-url("mc-logos/mediacommons-logos3.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 9em;
            padding: 16% 0 0% 0;
            height: auto;
            body.mc & {
                background-position: 0 1%;
            }
            body.mediacommons & {
                background-position: 0 -2%;
            }
            body.imr & {
                // background-position: 0 30%;
                height: 4rem;
                // looks a little large in mobile view
           
            }
            body.tne & {
                background-position: 0 60%;
            }
            body.alt & {
                background-position: 0 70%;
                padding: 22% 0 0% 0;
            }
            body.int & {
                background-position: 0 92%;
            }
        }
    }
}